@import "../../styles/common";

.new-card-container label,
.input-title {
  font-family: $neue-helveticamedium;
  color: #1a1a1a;
  font-size: 1rem;
}

.eg-text {
  background-color: #eee;
  padding: 1rem;
  color: rgb(75, 74, 74);
  font-family: $neue-helveticamedium;
  font-size: 0.9rem;
  border-radius: 0.7rem;
  margin: 0.6rem 0;
}

.h-auto {
  height: auto !important;
}
