@import "../../styles/common";

.sec-heading {
  padding: 1rem 0;
  border-bottom: 0.3rem solid #000;
  margin-bottom: 3rem;
  font-family: $neue-helveticamedium;
}
.collection-section {
  padding: 2rem 0;
  .nft-collection {
    &-card {
      position: relative;
      border-radius: 0 0 1rem 1rem;
      overflow: hidden;
      margin-bottom: 2rem;
      figure {
        img {
          height: 40rem;
          width: 100%;
          object-fit: cover;
          transition: 0.5s;
        }
        .heart-icon {
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-size: 2rem;
          color: red;
          z-index: 1;
          cursor: pointer;
        }
      }
    }
    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h5 {
        margin: 0;
        color: #fff;
        font-size: 1rem;
        font-family: $neue-helveticalight;
      }
      h1 {
        font-family: $neue-helveticalight;
        margin-bottom: 2rem;
        color: #fff;
      }
    }
    &-btn {
      background: #fff;
      border-radius: 3rem;
      padding: 0.6rem 2rem;
      font-size: 1.3rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      color: #000;
    }
  }
}
