@import "../../styles/common";

.nft-tags {
  .nft-tag-title {
    font-size: 1.5rem;
    font-family: $neue-helvetica-medium;
    position: relative;

    .title-count {
      font-size: 1rem;
      font-family: $neue-helvetica-bold;
      top: 0;
      width: 0;
      position: absolute;
      margin-left: 0.2rem;
    }
  }

  .nft-tag-content {
    display: flex;
    flex-wrap: wrap;

    .tag {
      padding: 0.5rem 1.5rem;
      font-family: $neue-helvetica-bold;
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.font-15 {
  font-size: 15px;
}

.player {
  font-size: 1.5rem;
  font-family: "neue_helvetica_bold" !important;
  text-transform: capitalize;
  margin-right: 0.5rem;
  background: linear-gradient(180deg, #e2ff00 0%, #18e0e0 52.6%, #e8318d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
