@import "../../styles/common";

.royalty-info {
  font-size: 0.7rem;
  font-family: $neue-helveticamedium;
}
.fit-to-height {
  min-height: calc(100vh - 5rem);
  padding-top: 2.1rem;
  overflow: hidden;
  padding-bottom: 2.1rem;
}
.creator {
  font-size: 1.2rem;
  font-family: $neue-helveticamedium;
  margin-top: 0em !important;

  .check-icon {
    margin-top: -7px;
    height: 1rem !important;
    width: 1rem !important;
  }

  .nft-status-tag {
    margin-left: 1rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    background-color: #f21e00;
    color: #ffffff;
    white-space: nowrap;
  }
}

.read-more-button {
  cursor: pointer;
  color: #004fff;
}

.bottom-content {
  position: sticky;
  top: 100vh;
  @media screen and (max-width: 425px) {
    .current-bid {
      padding: 1rem 0;
      border-bottom: 2px solid #000;
    }
    hr.custom-divider {
      display: none;
    }
  }
  .d-flex {
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }
}

.place-bid-btn {
  font-family: $neue-helveticamedium;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 80%;
  border: 2px solid #000000;

  &:disabled {
    background-color: #e7e7e9;
    color: #9c9c9b;
    border: none;
  }

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

.place-bid-buy-btn {
  font-family: $neue-helveticamedium;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 45%;
  border: 2px solid #000000;

  &:disabled {
    background-color: #e7e7e9;
    color: #9c9c9b;
    border: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #ffffff;
    color: #000000;
  }
  &.filled-btn {
    background-color: #ffffff;
    color: #000000;
    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      color: #ffffff;
    }
  }
}

.recharge-btn {
  font-family: $neue-helveticamedium;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 80%;

  &:hover {
    background-color: #ffffff;
    color: rgb(236, 41, 41) !important;
  }
}

.nft-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .nft-title {
    font-size: 2.4rem;
    font-family: $neue-helveticabold;
  }

  .discord {
    border: 1px solid #e7e7e9;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;

    .count {
      position: absolute;
      right: -0.3rem;
      top: -0.3rem;
      background-color: #fafafa;
      border: 1px solid #e7e7e9;
      color: #9b9b9b;
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
      font-size: 0.8rem;
      font-family: "neue_helveticabold" !important;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }

    svg {
      height: 2rem;
      width: 2rem;

      path {
        fill: #000000;
      }
    }
  }
}

.nft-desc {
  font-size: 1.1rem;
  font-family: $neue-helveticamedium;
}

.custom-divider {
  height: 2px !important;
  background-color: #000000;
  opacity: 1;
  margin: 0.5rem 0 1.5rem 0;
}

@media screen and (max-width: 991px) {
  .fit-to-height {
    height: auto;
  }
  .creator {
    margin-top: 2rem !important;
  }
}

.cancel-nft-list {
  padding: 0;
  margin: 0;
  list-style: none;
  .cancel-nft-item {
    margin-bottom: 1rem;
    article.cancel-nft {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .image-block {
        width: 5rem;
        height: 5rem;
        img {
          height: 5rem;
          width: 5rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .info-block {
        width: calc(100% - 5rem);
        padding-left: 0.5rem;
        .name {
          font-family: $neue-helveticamedium;
        }
        .nft-info {
          padding: 0;
          margin: 0;
          li {
            display: flex;
            .key {
              width: 70px;
              font-size: 0.95rem;
              font-family: $neue-helveticalight;
            }
            .value {
              font-family: $neue-helveticamedium;
            }
          }
        }
        .cancel-btn {
          &:hover,
          &:focus,
          &:active {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}

.scroll-modal {
  padding: 0.5rem;
  max-height: 70vh;
}
