@import "../../styles/common";

.complete-tournament-section {
  background-image: url("../../images/jump-trade/tournament/complete-tornament-bg.png");
  padding: 8rem 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  .sec-title {
    font-size: 3rem;
    font-family: $neue-helvetica-extended;
    text-transform: uppercase;
    color: #e1ff04;
    margin-bottom: 2rem;
    text-align: center;

    line-height: 1.3;

    span {
      display: block;
      color: #fff;
    }
  }
  .completed-tournament-list-carousel {
    .owl-item {
      opacity: 0.3;
      transition: 0.5s all ease;
      &.active.center {
        opacity: 1;
      }
    }
    .owl-dots {
      .owl-dot {
        span {
          width: 1.5rem;
          height: 0.4rem;
          margin: 0.4rem;
          background: #dadada;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 200ms ease;
          border-radius: 30px;
          transition: 0.5s all ease;
        }
        &.active,
        &:hover {
          span {
            transition: 0.5s all ease;
            background: #f3ef32;
            width: 3rem;
          }
        }
      }
    }
  }

  .complete-tournament-list {
    border: 0.08rem solid #f5ff00;
    background-color: #073824;
    margin: 2rem;
    display: flex;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    box-shadow: 0px 0px 1rem #f5ff00;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      border-radius: 2rem;
      border: 0.08rem solid #f5ff0070;
      z-index: -1;
    }
    &::after {
      top: -1rem;
      left: -1rem;
      right: -1rem;
      bottom: -1rem;
      border: 0.08rem solid #f5ff0033;
    }

    .slam-box {
      width: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-right: 0.08rem solid #f5ff02;
      img {
        height: auto;
        width: 70% !important;
      }
      .leader-pill {
        color: #000;
        background: #f5ff02;
        border-radius: 50rem;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        font-family: $neue-helvetica-extended;
      }
      h6 {
        font-size: 1.3rem;
        padding: 0.2rem 0;
        color: #ffffff99;
        font-family: $neue-helvetica-extended;
      }
    }

    .winnerlist-box {
      width: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        color: #f5ff02;
        font-size: 2rem;
        font-family: $neue-helvetica-extended;
        letter-spacing: 0.1rem;
        text-transform: uppercase;

        margin-bottom: 2rem;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        li {
          display: flex;
          justify-content: flex-start;
          width: 80%;
          align-items: center;
          margin-bottom: 1rem;
          max-width: 25rem;
          img {
            height: 2.2rem;
            width: 2.2rem;
            margin-right: 1rem;
          }
          span.winnername {
            font-size: 1.4rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
