@import "../../styles/common";

.chain-pills {
  background-color: #ffffff;
  padding: 0 1.5rem 0 0;
  margin-right: 1rem;
  margin-bottom: 1rem;

  .first {
    font-family: $neue-helveticabold;
    font-size: 1rem;
    display: flex;
    align-items: center;

    .second {
      font-size: 1rem;
      font-family: $neue-helveticabold;
      padding: 0.6rem 1rem;
      background-color: #ffffff;
      margin-right: 0.7rem;
      border-bottom: none !important;
      border-left: none !important;
      border-top: none !important;
    }
  }

  &.one-pill {
    padding: 0.6rem 1.5rem !important;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #e7e7e9;
    border-color: #ffffff !important;
    .second {
      background-color: #e7e7e9;
      border-color: #ffffff !important;
    }
  }
}
.chain-pills:first-child .first {
  text-transform: uppercase;
}
