:root {
  --ck-theme: #f5ff00;
  --ck-grey: #ccc;
  --ck-black: #000;
  --ck-white: #fff;
  --ck-dark: #020c0f;
  --white: #fff;
  --theme-green: #073824;
  --theme-yellow: #f5ff00;
  --theme-secondary-green: #b3c300;
  --theme-dark-green: #091d15;
  --ck-font-montserrat: "Montserrat", sans-serif;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --ck-heading-1: 6rem;
  --ck-heading-2: 4rem;
  --ck-heading-3: 2.5rem;
  --ck-heading-4: 3rem;
  --ck-heading-5: 2rem;
  --ck-heading-6: 1.5rem;
  --ck-paragraph: 1.1rem;
  --ck-line-height: 1.5;
  --ck-border-radius: 20px;
  --ck-button-background: #000;
  --ck-button-color: #fff;
  --ck-button-border-radius: 100px;
  --ck-glass-background: rgba(245, 245, 247, 0.72);
  --ck-backdrop-filter: blur(20px);
  --ck-glass-border: 2px solid hsla(0, 0%, 100%, 0.1);
  --ck-glass-box-shadow: 0 0 40px #092c37;
  --ck-nav-text-size: 1rem;
  --ck-margin-zero: 0rem;
  --ck-font-size: 1rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --text-transform-upper: uppercase;
  --ck-letter-spacing: 0.5px;
  --ck-subtitle: 2rem;
  --ck-section-padding: 5rem 0;
  --ck-drop-gradient: linear-gradient(-70deg, #97df5f, #6ae28b 50%, #0de2ab);
  --impact: "Impact", sans-serif;
  --helvetica: "HelveticaNeue1", sans-serif;
  --helvetica1: "HelveticaNeue2", sans-serif;
}

@font-face {
  font-family: "neue_helvetica_bold";
  src: url("../fonts/new/Helvetica Neue LT 75 Bold.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_light";
  src: url("../fonts/new/Helvetica Neue LT 45 Light.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_thin";
  src: url("../fonts/new/Helvetica Neue LT 35 Thin.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_ultralight";
  src: url("../fonts/new/Helvetica Neue LT 25 Ultra Light.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_roman";
  src: url("../fonts/new/Helvetica Neue LT 55 Roman.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_medium";
  src: url("../fonts/new/Helvetica Neue LT 65 Medium.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_heavy";
  src: url("../fonts/new/Helvetica Neue LT 85 Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_black";
  src: url("../fonts/new/Helvetica Neue LT 95 Black.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_extended";
  src: url("../fonts/new/Helvetica Neue LT 53 Extended.ttf") format("truetype");
}
@font-face {
  font-family: "neue_helvetica_extended_bold";
  src: url("../fonts/new/Helvetica Neue LT 73 Bold Extended.ttf") format("truetype");
}
@font-face {
  font-family: Impact;
  src: url("../fonts/new/impact.ttf") format("opentype");
}
.our-team-section .sectionHeading {
  font-size: 4rem;
  color: #f5ff00;
}
.our-team-section section.team-box .team-member .team-member-role {
  font-size: 1.3rem;
}
.our-team-section section.team-box .team-member .team-member-name-desc {
  min-height: 22rem;
}
.our-team-section section.team-box .team-member .team-member-name-desc .team-member-name {
  font-size: 3rem;
}
.our-team-section section.team-box .team-member .team-member-name-desc .team-member-desc {
  font-size: 0.9rem;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}

section.our-investor-section .sectionHeading {
  font-size: 4rem;
  color: #f5ff00;
}
section.our-investor-section .investor-member .investor-member-name-desc .investor-member-name {
  font-size: 3rem;
}
section.our-investor-section .investor-member .investor-member-name-desc .investor-member-desc {
  font-size: 1.2rem;
  font-weight: normal;
}

.our-teambeyond-section .sectionHeading {
  font-size: 4rem;
}
.our-teambeyond-section .our-teambeyond-desc {
  font-size: 1.3rem;
  max-width: 64rem;
}

.faq-wrapper {
  font-family: "neue_helvetica_extended" !important;
  background: var(--theme-dark-green);
  padding: 7rem 5rem;
  color: #fff !important;
}
@media screen and (max-width: 767px) {
  .faq-wrapper {
    padding: 5rem 3rem;
  }
}
.faq-wrapper h3 {
  color: #fff;
  font-size: 2rem;
  font-family: "Impact" !important;
}
.faq-wrapper .c-tabs {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.faq-wrapper .c-tabs .nav-tab {
  margin: 0.3rem 0.5rem 0 0;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  background-color: #212135;
  color: #fff;
  transition: 0.5s;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.faq-wrapper .c-tabs .nav-tab.active {
  background-color: var(--ck-theme);
  color: #000;
  font-weight: 600;
}
.faq-wrapper .tab-divider {
  border-bottom: 2px solid #fff;
  margin: 2rem 0;
}

.c-accordian {
  background: #212135;
  font-family: "neue_helvetica_extended" !important;
  margin-bottom: 1.5rem;
}
.c-accordian .c-accor-head {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--ck-theme);
}
.c-accordian .c-accor-head .head-area {
  flex: 1;
  font-size: 1.1rem;
}
.c-accordian .c-accor-head div {
  padding: 1rem;
}
.c-accordian .c-accor-body {
  padding: 1.5rem;
  font-size: 0.9rem;
  border-bottom: 2px solid var(--ck-theme);
}
.c-accordian .c-accor-body p:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */