@import "../../styles/common";

.bid-auction {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
  min-height: calc(100vh - 10rem) !important;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 3066px) {
    min-height: calc(100vh) !important;
  }
  @media screen and (max-width: 1440px) {
    min-height: calc(100vh - 6rem) !important;
  }
  .bid-auction-content {
    font-family: $neue-helveticamedium;
    font-size: 4.5rem;
    line-height: normal;

    .bought_nft {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }

  .bid-aution-bottom {
    position: sticky;
    top: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;

    .bottom-title {
      font-family: $neue-helveticamedium;
      font-size: 0.8rem;
    }
    .bottom-time {
      .counter-time {
        font-size: 1.9rem !important;
      }

      .counter-interval {
        font-size: 0.9rem !important;
        font-family: $neue-helveticalight;
      }

      .interval-gap {
        margin-right: 0.7rem !important;
      }

      .ended-count-value {
        font-family: $neue-helveticamedium;
        font-size: 2.25rem;
      }
    }

    .bottom-recharge-btn {
      padding: 0.5rem 1rem;
      font-family: $neue-helveticalight;
    }
  }
}
