@import "../../styles/common";

.nft-media {
  text-align: center;
  background-color: #e7e7e9;
  position: relative;

  img,
  video,
  audio {
    height: 82vh;
    max-height: 82vh;
    width: 100%;
    object-fit: scale-down;
  }

  .media-lsf {
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    display: flex;

    div {
      background-color: #ffffff;
      padding: 0.5rem;
      border-radius: 0.3rem;
      margin-left: 0.5rem;

      &:active {
        background-color: #c9c7c7;
      }
    }
  }
}

.modal-img {
  max-height: 80vh;
  object-fit: scale-down;
  width: 100%;
}

.custom-pop {
  font-family: $neue-helveticamedium;
}

.full-screen-header {
  border: none;

  button {
    font-size: 1.5rem;
    opacity: 1;
  }
}
