@import "../../styles/common";


.nft{
    &-card {
        position: relative;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;
        margin-bottom: 2rem;
        figure {
            margin-bottom: 0;
            img {
                height: 30rem;
                width: 100%;
                object-fit: cover;
                transition: .5s;
            }
            .heart-icon {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 3rem;
                color: #c3c3c3;
                z-index: 1;
                cursor: pointer;
                padding: 0.5rem;
                background: #00000073;
                border-radius: 0.5rem;
            }
        }
    }
    &-content {
        position: relative;
        background: #fff;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
            color: #000;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
            font-family: $neue-helveticabold;
            @include text-ellipsis;
        }
        h4{
            font-family: $neue-helveticalight;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            color: #000;
            @include text-ellipsis;
        }
    }
    &-priceType {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .nft-price, .nft-type {
            display: flex;
            flex-direction: column;
            font-family: $neue-helveticalight;
            .key{
                color: #757575;
            }
            .value{
                color: #000000;
            }
        }
    }
    
}
