
.cart-card
{
    justify-content: left;
    align-items: left;
    text-align: left;
    box-shadow: 0 3px 15px rgb(16 24 32 / 5%);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}