


.coupon_card .form-control {
    height: 40px;
    font-size: 14px;
}


.coupon-card{
    background: linear-gradient(135deg, #19834e, #93E9BE);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    position: relative;

}

.coupon-card h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}
.coupon-card p{
    font-size: 15px;

}
.coupon-row{
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: fit-content;

}
.coupon-card #cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;

}
#cpnBtn{
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 20px;
    color: #7158fe;
    cursor: pointer;
}
.circle1, .circle2{
    background: #f0fff3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.circle1{
    left: -25px;
}
.circle2{
    right: -25px;
}