@import "../../styles/common";

.user {
  &-flexblock {
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &-collection {
    &-box {
      padding-left: 2rem;
      width: 100%;
      margin-bottom: 2rem;
      // margin-top: 3rem;
      @media screen and (max-width: 991px) {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
      }
    }
  }
}

.user-block-nav {
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #000;
  max-width: 20rem;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-item {
    padding: 0 0rem;
    @media screen and (max-width: 425px) {
      padding: 0;
    }
    .nav-link {
      font-size: 1.1rem;
      color: #9c9c9b !important;
      font-family: $neue-helveticalight;
      user-select: none;
      color: #000 !important;
      &.active {
        font-family: $neue-helveticabold;
      }
    }
  }
}

button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #fff;
  border: 0.2rem solid #000;
  margin-left: 0;
  margin-top: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: $neue-helveticabold;
  width: auto;
  padding: 0.8rem 4rem;
  font-weight: normal;
  background: #000;
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #000;
    border: 0.2rem solid #000;
  }
}
