@import "../../styles/common";

.game-banner {
  min-height: calc(90vh + 2rem);
  // background: #0d3625;
  background: url(../../images/sec-11.jpg) center / cover no-repeat;
  display: flex;
  align-items: center;
  .mcl-title {
    font-family: "neue_helvetica_extended_bold" !important;
    color: #f5ff00;
    text-transform: uppercase;
  }
  .switch-btn {
    // background: red;
    border-radius: 100px;
    // border: 2px solid #F5FF00;
    height: 3.35rem;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(252, 253, 158, 1) 0%,
      rgba(253, 253, 94, 1) 50%,
      rgba(200, 150, 0, 1) 100%
    );
    &:before {
      content: "";
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;
      bottom: 0.1rem;
      left: 0.1rem;
      background: #000;
      border-radius: 0.3rem;
      z-index: 0;
      border-radius: 80px;
    }
    .btn1 {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      height: 3rem;
      top: 3px;
      left: 2px;
    }
    .btn {
      // border-radius: 100px;
      background: #1b4123;
      border: none;
      color: #fff;
      transition: 0.5s;
      opacity: 0.5;

      &.active {
        background: transparent;
        color: #f5ff00;
        // border-radius: 100px;
        transition: 0.5s;
        opacity: 1;
      }
    }
    .btn2 {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      height: 3rem;
      top: 3px;
      right: 2px;
    }
  }
  .mobile_app {
    color: #fffee2;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .game-desc {
    font-family: "neue_helvetica_extended";
  }
  .gameplay-form {
    margin: 3rem 0;
    .text_fields {
      width: 20rem;
      height: 3.35rem;
      padding: 2px;
      display: flex;
      background-color: red;
      border: 1px transparent;
      border-radius: 80px;
      background-image: linear-gradient(white, white),
        radial-gradient(at bottom center, #c89600, #fcfd9e);
      background-origin: border-box;
      background-clip: content-box, border-box;
      .theme-input {
        font-size: 1rem !important;
        font-family: "neue_helvetica_medium";
        padding: 0.8rem 0.5rem;
        color: #fff;
        background-color: #22471e;
        background: #22471e;
        border: none;
        margin-bottom: 0px !important;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          color: #fff;

          @media screen and (max-width: 1296px) {
          }
          @media screen and (max-width: 1200px) {
          }
          @media screen and (max-width: 991px) {
          }
          @media screen and (max-width: 767px) {
          }
          @media screen and (max-width: 560px) {
            width: 15rem;
          }
        }
      }
    }
    .submit-btn {
      padding: 0.8rem 1.5rem;
      // height: 3.35rem;
      color: #fff;
      border-radius: 50px;
      background-color: #000;
      // border: 2px solid #F5FF00;
      font-family: "neue_helvetica_medium";
      position: relative;
      background: transparent
        linear-gradient(
          180deg,
          rgba(252, 253, 158, 1) 0%,
          rgba(253, 253, 94, 1) 50%,
          rgba(200, 150, 0, 1) 100%
        )
        0 0 no-repeat padding-box;
      border: none;

      &::before {
        content: "";
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        background: #000;
        border-radius: 100px;
        z-index: 0;
        transition: 0.5s;
      }
      span {
        color: #fff;
        position: relative;
        font-family: "neue_helvetica_medium";
        z-index: 9;
      }
      &:hover {
        &::before {
          background: #fff;
          transition: 0.5s;
        }
        span {
          color: #000;
        }
      }
    }
  }
}
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}
.whitepaper_sec {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, #0d3625, #0d362587),
    url("../../images/div2.jpg");

  .download_app {
    color: #f5ff00;
  }
  .whitepaper_box {
    // background: rgb(226, 255, 0);

    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      // background-image: linear-gradient(90deg, #000 0%, #fff 100%);
      background: rgb(226, 255, 0);
      background: linear-gradient(
        90deg,
        rgba(226, 255, 0, 1) 0%,
        rgba(24, 224, 224, 1) 50%,
        rgba(232, 49, 141, 1) 100%
      );
      left: 0;
      opacity: 0.5;
      border-radius: 1rem;
      z-index: -1;
    }
  }
  .marketplace_app {
    letter-spacing: 0.1rem;
    color: #fffee2;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .read_moree {
    padding: 0.8rem 2rem;
    // border: 2px solid #f5ff00;
    font-family: "neue_helvetica_extended";
    color: #fff;
    border-radius: 100px;
    position: relative;
    background: transparent
      linear-gradient(180deg, #fcfd9e 0%, #fdfd5e 50%, #c89600 100%) 0 0
      no-repeat padding-box;
    border: none;
    &:before {
      content: "";
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;
      bottom: 0.1rem;
      left: 0.1rem;
      background: #000;
      border-radius: 100px;
      z-index: 0;
    }
    span {
      color: #fff;
      position: relative;
      z-index: 9;
    }
    &:hover {
      &::before {
        background: #fff;
        transition: 0.5s;
      }
      span {
        color: #000;
      }
    }
  }
  .theme-color {
    color: #f5ff00;
  }
  .h-meduim {
    font-family: "neue_helvetica_extended";
  }
}
.hr-line {
  display: block;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(252, 253, 158, 1) 0%,
    rgba(253, 253, 94, 1) 50%,
    rgba(200, 150, 0, 1) 100%
  );
}
.mcl-game-two {
  background: #0d3625;
  overflow-x: hidden;
  padding: 8rem 0 0rem !important;
  .coming_soon {
    letter-spacing: 2px;
    background: linear-gradient(
      90deg,
      rgba(252, 253, 158, 1) 0%,
      rgba(253, 253, 94, 1) 50%,
      rgba(200, 150, 0, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .os_list {
    color: #fff;
  }
  .div_title {
    font-size: 5rem;
    color: #f5ff00;
    @media screen and (max-width: 767px) {
      font-size: 3rem;
    }
  }
  .div_stroke {
    letter-spacing: 0.1rem;
    color: #fffee2;

    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .title-div {
    h1 {
      font-family: "neue_helvetica_ultralight" !important;
      font-size: 3.5rem;
    }
  }
}
.mcl-game-three {
  // background: #0d3625;
  background: url(../../images/cta.jpg) center / cover no-repeat;
  color: #fff;
  overflow-x: hidden;
  .download_app {
    color: #f5ff00;
  }
  .marketplace_app {
    letter-spacing: 0.1rem;
    color: #fffee2;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .theme-color {
    color: #f5ff00;
  }
}
.error_text {
  color: red;
}
.mb-code-input {
  width: 15%;
  height: 100%;
  font-size: 1rem !important;
  font-family: "neue_helvetica_medium";
  border-radius: 50px;
  color: #fff;
  background-color: #22471e;
  background: #22471e;
  border: none;
  padding-right: 0;
}
.mb-code-input::-webkit-input-placeholder {
  color: #e9ecef;
}
.mb-code-input[readonly] {
  background-color: #22471e;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.email-field {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-left: 2rem;
}
.game-alert-message {
  background: url(../../images/download-bg.jpg) center / cover no-repeat;
  padding: 10rem 0;
  &.alert-signin {
    p {
      color: #f5ff00;
      // max-width: 50%;
      margin: auto;

      span {
        color: #fff;
      }
      @media screen and (min-width: 1200px) {
        max-width: 50% !important;
      }
      @media screen and (max-width: 767px) {
        max-width: 90% !important;
      }
    }
    .read_moree {
      padding: 0.8rem 2rem;
      // border: 2px solid #f5ff00;
      font-family: "neue_helvetica_extended";
      color: #fff;
      border-radius: 100px;
      position: relative;
      background: transparent
        linear-gradient(180deg, #fcfd9e 0%, #fdfd5e 50%, #c89600 100%) 0 0
        no-repeat padding-box;
      border: none;
      &:before {
        content: "";
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        background: #000;
        border-radius: 100px;
        z-index: 0;
      }
      span {
        color: #fff;
        position: relative;
        z-index: 9;
      }
      &:hover {
        &::before {
          background: #fff;
          transition: 0.5s;
        }
        span {
          color: #000;
        }
      }
    }
  }
  .download-apk {
    @media screen and (min-width: 320px) and (max-width: 560px) {
      max-width: 80% !important;
    }
  }
  h2 {
    color: #f5ff00;
    font-family: "neue_helvetica_extended_bold" !important;
  }
  p {
    color: #fff;
    font-family: "neue_helvetica_extended";
  }
}
.game-installguide {
  border-bottom: 1px solid #f5ff00;
}
