@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fraunces/v10/6NUu8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib14c7qv8.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;800&display=swap");

@font-face {
  font-family: "sora";
  src: url("fonts/sora.woff2") format("woff2");
}
h1 {
  font-family: Fraunces !important;
}
body {
  margin: 0;
  font-family: "sora" !important;
  // background-size: cover;
  // background-attachment: fixed;
  // background-position: center;
  // background-color: #fafafa;
  background-image: url(img/bodybg-scaled.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}
body {
  overflow-x: hidden;
}
.ht-logo img {
  max-width: 175px;
  width: 100%;
  height: auto;
}
section.gl_1 {
  padding: 100px 0;
}
.heroSec {
  margin-top: 5em;
  max-width: 80em;
}
.heroSec h1 {
  color: #707070;
  font-size: 7em;
  margin-top: 0;
  line-height: 1;
  font-stretch: unset;
  display: inline-block;
  letter-spacing: -4px;
}
.main-title {
  margin-bottom: 2em;
}
.belowImg {
  width: 300px;
  object-fit: cover;
  max-width: 100%;
}
.mobileTitle,
.legacy-mobile-control {
  display: none;
}
section.whatSec {
  padding: 5rem 0 5rem !important;
}

img {
  object-fit: cover;
  max-width: 100%;
}
.slick-active {
  // width: 340px !important;
}

body p {
  font-family: "Sora", sans-serif;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
.largeCards .cardrow .col {
  padding: 0;
}
.largeCards .cardrow {
  display: inline-block;
  width: 100%;
  margin-top: -110px;
}
.col.rightCard.rightCard_tl {
  clear: both;
}
.rightCard {
  float: right;
  width: 30%;
  position: relative;
}
.leftCard {
  float: left;
  width: 41%;
  margin-top: 355px;
  margin-left: -3%;
  margin-bottom: 30px;
  position: relative;
  height: 900px;
}
.leftCard img,
.rightCard:nth-child(3) img {
  height: 900px;
}

.rightCard:nth-child(3) {
  float: right;
  width: 50%;
  margin-top: 100px;
  margin-right: -13%;
  height: 900px;
}
.propic,
.propic img {
  width: 30px !important;
  height: 30px !important;
}
.propic img {
  background: none !important;
  padding: 0 !important;
}
.rightCard:nth-child(3) {
  height: 900px;
}
.rightCard:nth-child(1) {
  margin-right: -3%;
}
.rightCard:nth-child(1) img {
  height: 800px;
}
.leftCard p {
  margin-left: auto;
  width: 60% !important;
}
.leftCard .detailCard p {
  width: 100% !important;
}
.leftCard img,
.rightCard img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px #ccc;
  background: #fff;
  padding: 25px;
  position: relative;
}

.cardrow p {
  font-weight: 200;
  text-align: left;
  font-size: 20px;
  width: 90%;
  margin-bottom: 0;
  line-height: 30px;
  margin-top: 30px;
}
.rightCard:nth-child(3) p {
  width: 55% !important;
}

.detailCard h3,
.detailCard h4,
.detailCard h5 {
  font-family: "sora" !important;
}
.rightCard .detailCard {
  text-align: right;
  color: #707070;
  position: absolute;
  top: 15%;
  left: auto;
  width: 100%;
  right: 104%;
}
.rightCard:nth-child(3) .detailCard {
  text-align: right;
  color: #707070;
  width: 100%;
  position: absolute;
  top: 43%;
  left: auto;
  right: 102%;
}
.leftCard .detailCard {
  text-align: left;
  width: 100%;
  color: #707070;
  position: absolute;
  top: 30%;
  right: auto;
  left: 103%;
}
.rightCard .detailCard span,
.leftCard .detailCard span {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  font-weight: 300;
}
.rightCard .detailCard h3,
.leftCard .detailCard h3 {
  hyphens: auto;
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 3em;
  line-height: 1.3;
  margin-bottom: 25px;
}
.rightCard:nth-child(3) .dottedBorder {
  width: 40% !important;
}
.rightCard .detailCard h3 {
  margin-left: auto;
}
.leftCard .detailCard h3 {
  margin-right: auto;
}
.rightCard .detailCard p,
.leftCard .detailCard p {
  margin-top: 0;
  width: 100%;
  margin-bottom: 5px;
}
.leftCard .detailCard .postBy {
  display: flex;
  text-align: right;
}
.rightCard .detailCard .postBy {
  display: inline-block;
  width: 100%;
}
.rightCard .detailCard .postBy .propic {
  float: right;
}
.rightCard .detailCard .postBy .propic img {
  padding: 0;
}
.rightCard .detailCard .postBy .name {
  float: left;
}
.rightCard .detailCard .postBy span,
.leftCard .detailCard .postBy span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: inherit;
}
.rightCard .detailCard .postBy p,
.leftCard .detailCard .postBy p {
  font-weight: 400;
  font-size: 14px;
}
.rightCard .detailCard .postBy .name,
.leftCard .detailCard .postBy .name {
  padding-top: 3px;
  margin-bottom: 20px;
}
.leftCard .detailCard .postBy .name {
  text-align: left;
}
.propic {
  margin-left: 15px;
  margin-right: 15px;
}
.propic img {
  border-radius: 100px;
  box-shadow: none;
}
.rightCard .detailCard h4,
.leftCard .detailCard h4 {
  margin-top: 5px;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 700;
}
.rightCard .detailCard h5,
.leftCard .detailCard h5 {
  font-size: 22px;
  font-weight: 600;
  font-family: "sora" !important;
}

.rightCard .dottedBorder {
  border-bottom: 2px #707070 dotted;
  margin-right: -45px;
  width: 50%;
  margin-left: auto;
  margin-bottom: 25px;
}
.leftCard .dottedBorder {
  margin-bottom: 25px;
  margin-left: -45px;
  width: 50%;
  border-bottom: 2px #707070 dotted;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .rightCard,
  .leftCard,
  .rightCard:nth-child(3) {
    float: none;
    width: 90%;
    position: relative;
    margin: 0 auto !important;
    height: auto;
  }
  .webTitle .whatTitle {
    // display: none;
  }
  .detailCard br {
    display: none;
  }
  .legacySlider {
    margin-top: 6em;
  }
  .rightCard .detailCard,
  .leftCard .detailCard,
  .rightCard:nth-child(3) .detailCard {
    text-align: center;
    color: #707070;
    position: relative;
    top: 0;
    left: auto;
    width: 100%;
    right: 0;
    margin-top: 3em;
  }
  .rightCard .dottedBorder,
  .leftCard .dottedBorder {
    margin-right: auto;
    width: 50%;
    margin-left: auto;
    margin-bottom: 25px;
  }
  .cardrow p {
    width: 90%;
    margin-bottom: 2em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .heroSec {
    margin-bottom: 4em;
    text-align: center;
  }
  .heroSec h1 {
    font-size: 40px;
    margin-top: 1em;
    line-height: 1.4;
  }
  .leftCard img,
  .rightCard img,
  .leftCard img,
  .rightCard:nth-child(3) img {
    height: auto;
  }
  .leftCard img,
  .rightCard:nth-child(3) img {
    height: auto;
  }
  .rightCard:nth-child(3) {
    height: auto;
  }
  .rightCard:nth-child(1) img {
    height: auto;
  }
}

.legacySlider h2 {
  font-family: "Fraunces" !important;
  font-size: 110px;
  margin-top: -75px;
  line-height: 110px;
  color: #707070;
  letter-spacing: -3px;
}
.legacySlider {
  margin-bottom: 0px;
}
.legacySlider .container {
  position: relative;
}
.myContainer {
  max-width: 1270px;
  margin: 30px auto 0;
  padding-left: 100px;
}
.sliderLegacy {
  // margin-right: -5%;
}
.legacySlider p {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
  width: 80%;
  color: #707070;
}
.sliderTitle {
  display: inline-block;
}
.sliderTitle h3 {
  font-family: "sora" !important;
  font-size: 50px;
  color: #707070;
  float: left;
}
.sliderTitle img {
  float: left;
  width: 170px;
  height: auto;
  padding-top: 20px;
  padding-left: 15px;
}
button.slick-arrow.slick-prev {
  display: none !important;
}
button.slick-arrow.slick-next {
  display: none !important;
}
.controlSliders {
  position: absolute;
  top: 25%;
  right: 0;
  background: #fff;
  padding: 20px 15px 15px;
  border-radius: 35px;
  box-shadow: 0 3px 10px #ccc;
}
.controlSliders {
  position: unset;
}
.navrow {
  width: 100% !important;
  display: block !important ;
  text-align: right !important;
}
.controlSliders button {
  background: none;
  outline: none;
  border: none;
  padding: 0 10px;
}
.roundImg img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  object-fit: contain;
}
.slide-m-prev-new:hover::before {
  background-size: 100%;
  height: 25px;
  width: 30px;
  display: block;
  background-image: url("https://image-nft.hindustantimes.com/production/wp-content/uploads/2022/02/left-arrow.png");
  background-repeat: no-repeat;
  content: " " !important;
  font-size: 30px !important ;
  color: #000 !important;
}

.slide-m-prev-new:before {
  transition: 0.2s;
  background-size: 100%;
  height: 25px;
  width: 30px;
  display: block;
  background-image: url("https://image-nft.hindustantimes.com/production/wp-content/uploads/2022/02/left-arrow.png");
  background-repeat: no-repeat;
  content: " " !important;
  font-size: 30px !important ;
  color: #000 !important;
}

.slide-m-next-new:hover::before {
  background-size: 100%;
  height: 25px;
  width: 30px;
  display: block;
  background-image: url("https://image-nft.hindustantimes.com/production/wp-content/uploads/2022/02/right-arrow.png");
  background-repeat: no-repeat;
  content: " " !important;
  font-size: 30px !important ;
  color: #000 !important;
}

.slide-m-next-new:before {
  background-size: 100%;
  height: 25px;
  width: 30px;
  display: block;
  background-image: url("https://image-nft.hindustantimes.com/production/wp-content/uploads/2022/02/right-arrow.png");
  background-repeat: no-repeat;
  content: " " !important;
  font-size: 30px !important ;
  color: #000 !important;
}
.theCollection h2 {
  font-size: 100px;
  color: #707070;
  text-align: center;
  letter-spacing: -3px;
  font-family: "Fraunces";
}
.whatSec h2 {
  font-size: 100px;
  color: #707070;
  letter-spacing: -3px;
  line-height: 94px;
  margin-left: 40px;
  font-family: "Fraunces", sans-serif !important;
}
.borderTop {
  background: #707070;
  height: 20px;
  width: 140px;
}
.legacySlider .borderTop {
  position: relative;
  top: -100px;
}

.theCollection {
  margin-bottom: 140px;
}
.whatTitle {
  margin-top: 85px;
}
.whatTitle .borderTop {
  margin-left: -20px;
  margin-bottom: 30px;
  width: 180px;
}
.rightText {
  color: #707070;
  padding-top: 145px;
  padding-left: 20px;
}
.rightText p {
  font-size: 18px;
  font-weight: 200;
}
.rightText h4 {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 15px;
}
.whatSec img {
  border-radius: 20px;
  box-shadow: 0 10px 20px #ccc;
  margin: 0 10px;
  background: #fff;
  padding: 20px;
}
.mainBtn {
  margin: 50px auto 0;
  width: 100%;
  text-align: center;
}
.gotoCollection {
  padding: 20px 40px;
  text-align: center;
  background: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  color: #707070;
  box-shadow: 0 3px 6px #ccc !important;
  transition: 0.5s;
  font-weight: 500;
  border: none;
}
.gotoCollection:hover {
  background: #707070;
  color: #fff;
}

body .ht-ftr-social-links ul {
  width: 170px;
  padding: 0 4px;
}
body .ht-ftr-social-links ul li i {
  color: #fff !important;
  opacity: 0.7 !important;
}

body footer {
  background: rgba(84, 84, 84, 0.8) !important;
  border-top: 1px #313131 solid !important;
  color: #fff !important;
}
body .socialIcons li i {
  color: #fff !important;
  opacity: 0.7;
}
body .socialIcons li i:hover {
  color: #000;
}
.ht-ftr-first-col p {
  font-size: 13px !important;
  font-family: "sora" !important;
  color: #fff;
}
.ht-ftr-first-col p span {
  color: #fff;
}
body .ht-ftr-links ul li a {
  font-family: "sora" !important;
  font-size: 15px;
  color: #fff;
  opacity: 0.7;
  text-transform: capitalize;
}

/*.new-home .section-padding { padding:2rem 0 5rem !important;}*/
@media screen and (max-width: 1199.98px) {
  .tiles-row .tiles-col {
    max-width: 48%;
    margin-bottom: 80px;
  }
  .tiles-row .tiles-col:nth-child(2) {
    margin-right: 0;
  }
  .purchase-item-number {
    padding-right: 5%;
  }
  body .new-navbar a {
    margin-right: 15px;
    font-size: 16px;
  }
}
@media screen and (max-width: 991.98px) {
  .detail-title {
    font-size: 3rem;
  }
  .detail-img {
    width: 80%;
  }
  .detail-text-block p {
    width: 300px;
  }
  body .main-title {
    margin-bottom: 1em;
  }
}
ul.slick-dots {
  display: none !important;
}
/* Mobile View Home Page */
@media screen and (max-width: 767.98px) {
  body .heroSec {
    width: 100% !important;
    margin-left: 0px;
  }
  .legacySlider {
    margin-top: 2em !important;
  }
  .legacySlider .webTitle {
    display: none;
  }
  .controlSliders {
    position: unset;
    margin-bottom: 1em;
    display: inline-block;
  }
  body .main-title {
    margin-bottom: 1em;
  }
  .sliderLegacy {
    margin-right: 0 !important;
  }
  .faqs h1,
  .theCollection h2 {
    margin-bottom: 30px !important;
  }
  body .faqs.section-padding,
  .new-collection-page .section-padding {
    padding: 1rem 20px 0px !important;
  }
  .new-collection-page .section-padding {
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }
  .detail-title {
    margin-top: 15px;
  }
  .detail-text-block::before {
    margin: 30px auto 0;
  }
  .ht-footer {
    padding: 40px 0 20px !important;
  }
  body .faqs.section-padding {
    padding: 1rem 20px 0px !important;
  }
  body .section-padding {
    padding: 1rem 20px 20px !important;
  }
  .faqs h1 {
    margin-bottom: 30px;
  }
  .new-contact-page .ht-contact-section {
    padding-top: 1rem !important;
  }
  .myContainer {
    margin: 30px -5% 0 0 !important;
    padding-left: 0 !important;
  }
  .row {
    margin: 0 !important;
  }
  .hamBurger {
    background: transparent !important;
  }
  .faqs .faq_single_block:nth-child(1) {
    margin-top: 30px;
  }
  .new-collection-page .titleFilter {
    margin: 0 0 15px;
  }
  body .ht-ftr-social-links ul {
    padding: 10px 0;
  }
  .legacySlider h2,
  .theCollection h2,
  .whatTitle h2,
  body .main-title,
  .new-collection-page .titleFilter h1 {
    font-weight: bold !important;
    letter-spacing: 0 !important ;
  }
  .largeCards-m .detailCard h3 {
    margin: 0 auto 20px;
    width: 50%;
  }

  .slick-track {
    height: 440px;
  }
  .purchase-title:before {
    width: 175px;
  }
  .purchase-title h3 {
    letter-spacing: 0;
    font-weight: bold;
    width: 80%;
    line-height: 55px;
    font-size: 50px;
    margin: 0 auto 55px;
  }
  .faqs {
    padding-bottom: 0 !important;
  }
  body .section-padding {
    padding: 2rem 15px;
  }
  .faqs h1 {
    font-weight: bold;
    letter-spacing: 0;
  }
  .tiles-row .tiles-col:nth-child(4) {
    margin-bottom: 40px;
  }
  .tiles-row .tiles-col {
    box-shadow: 0 10px 20px #00000029;
  }
  .nft-purchase-wrapper {
    padding-bottom: 0;
  }
  .largeCards-m {
    margin-top: 0px;
  }
  .largeCards-m .row .col-sm-12 {
    margin-bottom: 20px;
  }
  .largeCards-m img {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 10px #ccc;
    margin-bottom: 25px;
  }
  .largeCards-m .detailCard span {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 300;
    font-family: sora;
  }
  .largeCards-m .detailCard h3 {
    text-align: center;
    color: #707070;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .largeCards-m .detailCard img {
    padding: 0;
    border-radius: 100px;
    box-shadow: none;
  }
  /*.largeCards-m .moreDetails { margin:40px 0 5px ; display: inline-block;
		width: 100%;}*/
  .largeCards-m .postBy,
  .postBy .propic,
  .postBy .name {
    float: left;
  }
  .largeCards-m .prizeEtc {
    float: right;
    margin-top: -15px;
  }
  .largeCards-m .postBy .name,
  .largeCards-m .postBy,
  .largeCards-m .prizeEtc {
    width: 50%;
  }
  .largeCards-m .postBy .name span {
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    line-height: 15px;
    margin: 5px 0 0;
    display: block;
    text-align: left;
    text-transform: capitalize;
  }
  .largeCards-m .postBy .name p {
    color: #707070;
    text-align: left;
    font-weight: 200;
    font-size: 14px;
  }
  .largeCards-m .postBy .propic img {
    width: 100%;
  }
  .largeCards-m .postBy .propic {
    width: 60px;
    height: 60px;
  }
  prizeEtc .largeCards-m .prizeEtc p {
    font-weight: 200;
    color: #707070;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .largeCards-m .prizeEtc h4 {
    color: #707070;
    font-size: 24px;
    margin-bottom: 3px;
    text-align: end;
    font-weight: 400;
  }
  .largeCards-m .prizeEtc h5 {
    text-align: end;
    font-size: 16px;
    font-weight: 700;
    color: #707070;
  }
  .largeCards-m .dottedBorder {
    border-bottom: 2px dotted #707070;
    margin-bottom: 25px;
  }
  .largeCards-m .prizeEtc p {
    text-align: end !important;
    float: none !important;
  }
  .largeCards-m .detailCard p {
    float: left;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    color: #707070;
    text-align: center;
    line-height: 30px;
  }
  .propic {
    margin: 0 10px 0 0 !important;
  }
  /*body .section-padding { padding-bottom:5rem !important;}*/
  .single.collection-single .section-padding {
    padding: 2rem 0 6rem;
  }
  body .socialIcons li i {
    color: rgba(255, 255, 255, 0.6);
  }
  body .ht-ftr-social-links ul {
    background: transparent;
  }

  body .ht-ftr-social-links ul {
    width: 100%;
  }
  .detail-img {
    width: 100%;
  }
  .detail-title {
    font-size: 2.063rem;
    line-height: 145%;
  }
  .detail-text-block::before {
    height: 13px;
    width: 110px;
  }
  .back-text {
    display: none;
  }
  .detail-left-box {
    display: block;
  }
  .price-btn {
    display: block;
    margin-top: 10px;
  }
  .price-btn a {
    min-width: 200px;
  }
  .detail-text-block p {
    width: 430px;
  }
  .detail-img.detail-img-mobile {
    display: none;
  }
  .detail-img {
    display: block;
    max-width: 100%;
  }
  .tiles-row .tiles-col {
    max-width: 100%;
    margin-right: 0;
  }

  .new-collection-page .dropdown {
    padding: 5px 25px !important;
    text-align: center !important;
  }
  .new-navbar {
    margin: 0 auto;
    float: none !important;
  }
  .largeCards-m,
  .mobileTitle,
  .legacy-mobile-control {
    display: block !important;
  }
  .sliderTitle h3 {
    font-size: 50px;
  }
  .sliderTitle img {
    width: 140px !important;
    padding-top: 20px;
    padding-left: 10px;
  }
  .slick-current {
    transition: 0.3s !important;
  }

  .legacySlider {
    margin: 20px 0 0 !important;
  }
  .mainBtn {
    margin: 25px auto 0 !important;
  }
  .theCollection {
    margin-bottom: 110px !important;
  }
  /*body footer.section-padding { padding:3rem 0 !important}*/
  /*body .single.collection-single footer.section-padding  { padding-top:3rem !important}*/
  /*body .section-padding { padding:2rem 15px !important;}*/
  body #ht__header .container-fluid {
    padding: 0 0;
  }
  .mobile-header-view {
    display: block !important;
  }
  .mobile-header-view {
    display: flex !important;
    padding: 0 10px;
  }
  .ht-logo {
    float: left;
    margin-top: 0;
  }
  body .main-title {
    font-size: 45px !important;
    line-height: 50px !important;
    margin-top: 0;
  }
  body .heroSec {
    width: 75%;
    margin-left: 0px;
  }
  body .quotes {
    font-size: 65px;
    margin-top: -20px;
  }

  body .theCollection .row .collectionCard {
    padding: 0;
    margin-bottom: 40px;
  }
  body .theCollection .row {
    margin: 50px 0;
  }
  .whatSec .row {
    display: block !important;
  }
  /* 	.section-padding h2 { font-size: 50px !important; text-align: center !important; margin-bottom: 20px} */
  .whatTitle h2 {
    margin-left: 0;
    font-size: 40px !important;
    text-align: center;
    margin-bottom: 30px;
    line-height: 50px !important;
  }
  .whatTitle .borderTop {
    margin: 0 auto 20px !important;
  }
  .legacySlider .borderTop {
    top: 0 !important;
  }
  .whatSec .rightText {
    text-align: center;
    padding: 50px 0 0 0 !important;
  }
  .legacySlider h2 {
    text-align: center;
    margin-top: 0;
    font-size: 45px !important;
    margin-bottom: 30px;
    line-height: 50px;
  }
  .theCollection h2 {
    font-size: 50px !important;
  }
  .legacySlider {
    margin: 100px 0;
  }
  .legacySlider .borderTop {
    margin: 0 auto 30px !important;
    position: static !important;
  }
  .legacy-mobile-control {
    display: none !important;
    position: static !important;
    width: 135px !important;
    margin: 20px auto 0 !important;
  }
  body .collection-nav {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 150%;
  }
  body .ht-search-form-submit {
    margin: 0px 15px 0 15px;
  }

  body .ht-logo img {
    max-width: 50%;
  }
  .error-page.header-item-remove .hamBurger {
    top: -15px;
  }
  .ht-ftr-logo img {
    max-width: 60% !important;
  }
  .ht-ftr-first-col .ht-ftr-logo {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .ht-ftr-first-col .ht-ftr-social-links {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 370px) {
  .socialIcons li i {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .detail-text-block p {
    width: 100%;
  }
  .newcard {
    margin-bottom: 30px;
    padding: 10px 10px 0;
  }
  body.header-item-remove .ht-logo img {
    max-width: 40%;
  }
  body .collection-nav {
    font-size: 12px;
  }
  .mobile-header-view .ht-header-form_btn2 {
    text-align: left;
    margin-top: 5px;
  }
  body .navIcon,
  body .navIcon:before,
  body .navIcon:after {
    width: 17px;
    height: 2px;
  }
  body .navIcon::before {
    top: -6px;
  }
  body .navIcon::after {
    bottom: -6px;
  }
  body .ht-search-form-submit {
    margin: 0px 5px 0 10px;
    background-position: 10px 10px;
    background-size: 15px;
    padding: 18px;
  }
  .hamBurger {
    width: 35px;
    height: 35px;
    line-height: 42px;
    right: 0;
  }
  .header-item-remove .hamBurger {
    right: -10px;
  }
}

@media screen and (max-width: 420px) {
  .mobile-header-view .ht-logo {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0;
  }
  .heroSec {
    margin-bottom: 9em;
  }
  .whatSec .col.webTitle {
    display: none;
  }
  .mobile-header-view .ht-header-form_btn2 {
    max-width: 80%;
    text-align: right;
    margin-top: 0;
  }
  body .ht-logo img {
    max-width: 50%;
  }
  body .ht-search-form-submit {
    margin: 0px 40px 0 10px;
  }
  body .collection-nav {
    font-size: 10px;
  }
  .heroSec h1 {
    font-size: 1em;
    line-height: 50px;
  }
  .main-title {
    margin-bottom: 0.5em;
    margin-top: 0.5em !important;
    display: block;
    float: left;
    width: 100%;
  }
  section.gl_1 {
    padding: 30px 0;
  }
}

@media screen and (max-width: 380px) {
  .mobile-header-view .ht-logo {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0;
  }
  .mobile-header-view .ht-header-form_btn2 {
    max-width: 80%;
    text-align: center;
    margin-top: 0;
  }
  .belowImg {
    margin-bottom: 1em;
    display: block;
  }
  body .ht-search-form-submit {
    margin: 0px 40px 0 10px;
  }
  .heroSec {
    margin-bottom: 9em;
  }
}
@media screen and (max-width: 320px) {
  body .collection-nav {
    padding: 10px 15px;
  }
  .mobile-header-view .ht-header-form_btn2 {
    max-width: 75%;
    text-align: left;
    padding-left: 10px;
    margin-top: 0;
  }
  body .ht-search-form-submit {
    margin: 0px 0 0 10px;
  }
  .mobile-header-view .ht-logo {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0;
  }
}

.faqs h1 {
  margin-bottom: 50px;
}
.new-contact-page .ht-contact-section {
  padding-top: 5rem;
}
.ht-contact-wrapper .container {
  padding: 0 !important;
}
.ht-ftr-logo img {
  width: 30%;
}
.largeCards {
  text-align: center !important;
}
body::before {
  content: " ";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fffaeb;
  opacity: 0.3;
  z-index: -1;
}
.controlSliders {
  position: unset;
  margin-bottom: 1em;
  display: inline-block;
}

.clientCategory-section .sec-heading {
  font-family: "Fraunces";
  font-size: 3em !important;
}
.clientCategory-section .more-card .top-content-title .more-nft-title {
  font-family: "sora" !important;
  font-weight: 700;
}

.clientCategory-section .more-card .top-content-title .more-nft-desc {
  font-family: "sora" !important;
}
.clientCategory-section .more-card .more-bid-details .mb-title {
  font-family: "sora" !important;
  font-weight: 600;
  color: #707070;
}
.clientCategory-section .more-card .more-bid-details .mb-value {
  font-family: "sora" !important;
  font-weight: 600;
}
.clientCategory-section .more-card {
  padding: 20px;
  background: #fff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px #ccc;
}
