

.contact-section .form-control
{
    font-size: 16px;
    min-height: 40px;
}

@media (min-width: 320px) and (max-width: 767px)
{
    .col 
    {
        flex: unset;
    }
    .d-flex {
        display: flex !important;
        justify-content: center;
    }
}



.inner-quote-section
    {
        
        h2{
            font-size: 28px;
            color: #000;
            font-weight: 700;
            font-family: var(--font-family-poppins);
        }
        p
        {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin-bottom: 2rem;
            font-family: var(--font-family-poppins);
        }
    }
.quote-section
{
    padding: 5rem 0;
    .inner-quote-section
    {
        font-family: var(--font-family-poppins);
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 30px;
        box-shadow: -0.2rem 0px 0.5rem #ddd;
        h2{
            font-size: 28px;
            color: #000;
            font-weight: 700;
            text-align: center;
            margin-bottom: 2rem;
        }
        p
        {
            font-size: 1.5rem;
            color: #000;
            text-align: center;
            margin-bottom: 2rem;
        }
        .quote-form
        {
            width: 100%;
            max-width: 90rem;
            margin: 0 auto;
            .form-control
            {
                font-size: 16px;
                min-height: 40px;
            }
        }
    }
}