@import "../../styles/common";

.bid-history {
  border-radius: 8px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;

  .history-end-content {
    font-family: $neue-helvetica-medium;
    color: #9c9c9b;
    font-size: 0.9rem;
    text-align: center;
    flex: 1;
  }

  .bid-history-title-content {
    padding: 0.6rem 1.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    .bid-history-title {
      font-family: $neue-helvetica-medium;
      font-size: 1.5rem;
      color: #000;
    }

    .bid-history-filter {
      display: flex;
      align-items: center;

      .history-dropdown {
        a.dropdown-toggle {
          color: white;
          font-family: $neue-helvetica-light;
          font-size: 0.9rem;
        }
        .dropdown-menu {
          min-width: 1rem !important;
        }
      }
    }
  }

  .bid-history-content {
    min-height: calc(100vh - 24rem) !important;
    max-height: 55vh;
    // border-left: 2px solid #000;
    // border-right: 2px solid #000;
    // border-bottom: 2px solid #000;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @media screen and (min-height: 1024px) {
      min-height: unset !important;
      max-height: 35rem !important;
    }

    .bid-histroy-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #e7e7e9;
      margin: 0 1rem;
      border-radius: 0.5rem;

      .first-half {
        display: flex;
        align-items: center;

        img {
          height: 3rem;
          width: 3rem;
          min-height: 3rem;
          min-width: 3rem;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 1rem;
          background-color: #ccc;
        }

        .time {
          font-size: 1rem;
          font-family: $neue-helvetica-medium;
        }

        .bid-owner {
          font-size: 1.15rem;
          font-family: $neue-helvetica-medium;

          .owner-id {
            cursor: pointer;

            &:hover {
              color: #000 !important;
            }
          }
        }
      }

      .second-half {
        .bid-value {
          font-size: 1.2rem;
          font-family: $neue-helvetica-bold;
        }
      }
    }
  }

  .bid-empty-content {
    background-color: #000;
    min-height: calc(100vh - 24rem) !important;
    max-height: 55vh;
    margin-top: -1px;
    padding: 1rem;

    .empty-top-container {
      color: #fff;
      display: flex;
      height: 50vh;

      .empty-top-content {
        flex: 1;
        align-self: center;
        text-align: center;

        svg {
          font-size: 3rem;
        }
        .empty-text {
          font-family: $neue-helvetica-medium;
          font-size: 1.7rem;
        }
      }
    }

    .empty-bottom-content {
      position: sticky;
      top: 100vh;
      display: flex;
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 1.5rem;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .publish-time {
        font-size: 0.8rem;
        font-family: $neue-helvetica-medium;
      }

      .nft-owner {
        font-size: 1rem;
        font-family: $neue-helvetica-bold;

        span {
          cursor: pointer;

          &:hover {
            color: #000 !important;
          }
        }
      }
    }
  }
}
.expand-history-owner img {
  min-height: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  margin-right: 0.6rem;
  object-fit: cover;
  object-position: center;
}
.orderDetails .expand-history-owner {
  display: flex;
  align-items: center;
}
.orderDetails td {
  vertical-align: middle;
  font-family: $neue-helvetica-medium;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  color: #fff;
}
.orderDetails table {
  position: relative;
  border-collapse: collapse;
}
.orderDetails thead {
  color: #fff;
}
.orderDetails thead th {
  background-color: #000;
  padding: 1rem 0.5rem;
  position: sticky;
  top: 0;
  min-width: 8rem;
  white-space: nowrap;
}
.orderDetails thead th:first-child {
  border-top-left-radius: 10px;
}
.orderDetails thead th:last-child {
  border-top-right-radius: 10px;
}
.orderBtn {
  font-size: 1rem;
  padding: 6px 15px;
}
.orderDetails {
  max-height: 70vh;
  overflow: auto;
  padding-bottom: 0;
}
.status {
  text-transform: capitalize;
  font-weight: 500;
}
