.free-single-product {
  .page-content {
    .container-fluid {
      .page-content {
        .need_sec {
          .container {
            .owl-carousel-healing {
              .owl-stage {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                //width: max-content !important;
                width: unset !important;
              }

              width: 100%;
              -webkit-tap-highlight-color: transparent;
              position: relative;
              z-index: 1;
              display: block;

              .owl-item {
                position: relative;
                min-height: 1px;
                // float: left;
                -webkit-tap-highlight-color: transparent;
              }

              .owl-stage-outer {
                .owl-stage {
                  transform: translate3d(-600px, 0px, 0px) !important;
                  transition: all 0s ease 0s;
                  width: 1800px !important;
                  ///width: auto !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.owl-carousel-healing .owl-stage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  //width: max-content !important;
  width: unset !important;
}

.owl-carousel-healing .owl-item .item {
  width: 120px;
  min-height: 120px;
  background-color: lightblue;
}

.trial_form p {
  color: red !important;
  font-size: 1.4rem !important;
  //float: left;
}

.healing_image {
  // width: 50% !important;
  // margin-left: 6rem;
}

.free-trial-input-section {
  .otp-input {
    input {
      font-size: 1.7rem;
    }
  }
}

.otp-submin-button-free {
  padding: 1.6rem;
}

.bannerTitle {
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
  // h3{
  // color: white;
  // }
}

.bannerDescription {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 100%;
  max-width: 90rem;
  transform: translate(-50%, -50%);
  margin: 2rem 0 0;
  //   h4{
  //     color: white;
  //     }
}

.icon-box-content p {
  font-size: 16px;
}

input.btn.btn-large,
input.btn.btn-large:active {
  display: inline-block;
  border: 2px solid #e4eaec;
  background-color: var(--base-color) !important;
  color: #000;
  outline: 0;
  padding: 1.22em 2.78em;
  font-weight: 100;
  font-size: 1.4rem;
  font-family: circularstd-medium;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s,
    box-shadow 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

#Potential_product {
  .owl-nav.disabled button.owl-prev {
    width: 40px;
    height: 40px;
    margin: 0;
    color: #2b579a;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    border: 0.1rem solid #ebebeb;
    cursor: pointer;
    border-radius: 50px;
    background: var(--base-color);
  }

  .owl-nav.disabled button.owl-next {
    width: 40px;
    height: 40px;
    margin: 0;
    color: #2b579a;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    border: 0.1rem solid #ebebeb;
    cursor: pointer;
    border-radius: 50px;
    background: var(--base-color);
  }

  button.owl-prev {
    left: -60px;
    top: 100px;
    position: absolute;
  }

  button.owl-next {
    right: -60px;
    top: 100px;
    position: absolute;
  }
}

// #Potential_product .owl-nav.disabled button.owl-prev,
// #Potential_product .owl-nav.disabled button.owl-next {
//   width: 40px;
//   height: 40px;
//   margin: 0;
//   color: #2b579a;
//   font-size: 16px;
//   line-height: 1;
//   padding: 0;
//   border: 0.1rem solid #ebebeb;
//   cursor: pointer;
//   border-radius: 50px;
//   background: var(--base-color);
// }

// #Potential_product button.owl-prev {
//   left: -60px;
//   top: 100px;
//   position: absolute;
// }

// #Potential_product button.owl-next {
//   right: -60px;
//   top: 100px;
//   position: absolute;
// }

.arrivals-section {
  .tab {
    button {
      background: var(--base-color);
    }

    .swipper_back_arrow:disabled {
      background: grey;
      opacity: 0.5;
    }

    .swipper_front_arrow:disabled {
      background: grey;
      opacity: 0.5;
    }

    .swipper_back_arrow {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: none;
      position: absolute;
      left: -4% !important;
      bottom: 43% !important;
    }

    .swipper_front_arrow {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: none;
      position: absolute;
      right: -4% !important;
      bottom: 43% !important;
    }
  }
}

#Potential_product {
  position: relative;

  figure.product-media {
    &:hover {
      .title-bottom-left {
        opacity: 1;
      }
    }

    &:hover {
      .description-bottom-left {
        opacity: 1;
      }
    }

    img.healing_image-top {
      background: #e1fff1;
      border-radius: 20px;
    }

    &:hover {
      background: #e1fff1;

      img {
        opacity: 0;
      }

      // transform: scale(1.2);
    }
  }

  .title-bottom-left {
    position: absolute;
    z-index: 999;
    content: "";
    top: 10%;
    color: var(--black);
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }

  .description-bottom-left {
    position: absolute;
    z-index: 999;
    content: "";
    top: 15%;
    color: var(--black);
    font-size: 12px;
    line-height: 1.6;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    padding: 15px;
  }
}

.trial_buy_now_btn {
  cursor: pointer
}


.intro-slide1.banner.banner-fixed
{
  position: relative;
  z-index: 1;
  &::before
  {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000b3;
  }
  .bannerTitle
  {
    h3{
      font-size: 20px;
      color: #fff;
      font-weight: 700;
    }
  }
  .bannerDescription
  {
    h4{
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      line-height: 2;
    }
  }
}