@import "../../styles/common";


.sec-heading {
    padding: 1rem 0;
    border-bottom: .3rem solid #000;
    margin-bottom: 3rem;
    font-family: $neue-helveticalight;
}

.showall-nft-section {
    padding: 2rem 0;
    background-color: #fff;
}
