@import "../../styles/common";

.sec-heading {
  padding: 1rem 0;
  border-bottom: 0.3rem solid #000;
  margin-bottom: 3rem;
  font-family: $neue-helveticabold;
  font-size: 2rem;
}

.showall-nft-section {
  padding: 2rem 0;
  background-color: #fff;
}

button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #fff;
  border: 0.2rem solid #000;
  margin-left: 0;
  margin-top: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: $neue-helveticabold;
  width: auto;
  padding: 0.8rem 4rem;
  font-weight: normal;
  background: #000;
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #000;
    border: 0.2rem solid #000;
  }
}

.filter-drop-btn {
  padding: 0.2rem 1.5rem;
  font-size: 1rem;
  font-family: $neue-helveticamedium;
  border: 1px solid #000;
  border-radius: 50rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.filter-pill-button {
  background-color: rgb(231, 231, 231);
  border: 1px solid #ccc;
  padding: 0.2rem 0.2rem 0.2rem 0.8rem;
  border-radius: 50rem;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  .first {
    font-family: $neue-helveticamedium;
  }

  &:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(129, 129, 129);
  }

  .last {
    &:hover {
      color: rgb(153, 26, 26);
    }
  }
}
