.cms-page-title {
    display: flex;
    justify-content: center;
    font-size: 4rem !important;
    padding-bottom: 1rem;
}
.cms-page-imge
{
    background-attachment: fixed;
    background-size: cover;
    object-fit: fill;
}
.cms-page-content {
    font-family: "circularstd-medium";
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
    // background: red;
}