@import "../../styles/common";
.trailer_section {
  //   min-height: 100vh;
  // @media screen and (min-width: 1300px) {
  //   min-height: calc(90vh + 7rem);
  // }
  background-image: url(../../images/mcl-game-launcher/game-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 10rem 0 0;
  @media screen and (max-width: 560px) {
    min-height: 100%;
  }

  .trailer-content {
    text-transform: uppercase;
    position: relative;
    @media screen and (max-width: 560px) {
      padding-left: 0rem !important;
    }
    .mcl-logo-launch {
      img {
        width: 300px;
      }
    }
    h2 {
      font-size: 3rem;
      color: #f2ed27;
      font-family: "neue_helvetica_extended_bold" !important;

      @media screen and (max-width: 1296px) {
        font-size: 4.5rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 991px) {
        font-size: 3.5rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 560px) {
        font-size: 2rem;
      }

      font-family: "neue_helvetica_extended_bold" !important;

      &.ends-tournament {
        font-family: "neue_helvetica_roman" !important;
        font-size: 2.5rem !important;
        margin: 1rem 0 3rem;
      }
    }
    .download-icon-btn {
      img {
        width: 400px;
      }
    }
    h4 {
      // font-size: 3rem;
      color: #fff;
      font-family: "neue_helvetica_extended_bold" !important;
      &.game-counter {
        .nft-counter {
          .counter-time {
            font-size: 5rem;
            margin-right: 1rem;
            color: #fff;
            @media screen and (max-width: 767px) {
              font-size: 3rem;
            }
            @media screen and (max-width: 320px) {
              margin-right: 0rem;
            }
            span {
              font-size: 3rem;
              color: #fff;
              @media screen and (max-width: 767px) {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
    .live-game {
      img {
        width: 300px;
      }
    }
    .live-games {
      max-width: 300px;
      margin: auto;
      position: relative;
      @media screen and (min-width: 1150px) {
        // max-width: 20%;
      }
      img {
      }
      .ball {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        top: 50%;
        animation: blink 1.5s linear infinite;
      }
    }
    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }

    .mock-device {
      img {
        margin: auto;
        display: block;
        max-width: 75%;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 767px) {
          max-width: 100%;
        }
      }
    }
    .marque-block {
      background: #f5ff01;
      margin: 0rem 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5rem;
      z-index: 1;
      @media screen and (max-width: 767px) {
        bottom: 2rem;
      }
      .marquee {
        font-family: "neue_helvetica_extended_bold" !important;
        font-weight: 800 !important;

        color: #000;
        font-size: 1rem;
        align-items: center;
        letter-spacing: 0.2rem;
        padding: 0.2rem 0.2rem;
        font-size: 1.5rem;
        span {
          margin-right: 8rem;
        }
      }
      .overlay {
        display: none;
      }
    }
    .trailer-desc {
      font-family: "neue_helvetica_extended";
      line-height: 1.7;
      font-size: 1.45rem;
      max-width: 75%;
      @media screen and (max-width: 1200px) {
        max-width: 100%;
      }
    }
    .watch-btn {
      @media screen and (min-width: 1300px) {
        width: 12rem;
      }
      cursor: pointer;
      @media screen and (max-width: 1200px) {
        width: 8rem;
      }
      @media screen and (max-width: 560px) {
        width: 6rem;
      }
    }
  }
  .top-fixed-trailer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(0deg, #00010000, #010800 70%) no-repeat;
    @media screen and (max-width: 1063px) {
      // font-size: 1rem !important;
      position: unset;
    }
    @media screen and (min-width: 560px) and (max-width: 1300px) and (orientation: landscape) {
      position: unset;
    }
    @media screen and (max-width: 560px) {
      // font-size: 1rem !important;
      position: unset;
    }
  }
  .bottom-fixed-trailer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0000007a;
    @media screen and (max-width: 1063px) {
      // font-size: 1rem !important;
      position: unset;
    }
    @media screen and (min-width: 560px) and (max-width: 1300px) and (orientation: landscape) {
      position: unset;
    }
    @media screen and (max-width: 560px) {
      // font-size: 1rem !important;
      position: unset;
      .flex-column-mob {
        flex-direction: column;
      }
    }
    .list-style-none {
      text-decoration: none;
      color: #fff;

      &.p-8 {
        // padding: 4rem 0;

        padding: 2rem 0;
        @media screen and (max-width: 991px) {
          padding: 2rem 0;
        }
        @media screen and (max-width: 560px) {
          padding: 0.5rem 0;
        }
      }
      .flex-btnn {
        @media screen and (max-width: 991px) {
          flex-direction: column;
          text-align: center;
        }
        @media screen and (max-width: 560px) {
          flex-direction: row;
          text-align: left;
          justify-content: flex-start;
        }
      }
    }
    .vr {
      color: #e1ff04;
      opacity: 1;
      width: 2px;
      @media screen and (max-width: 560px) {
        display: none;
      }
    }
    .btn-click-icon {
      img {
        width: 2.5rem;
        @media screen and (max-width: 560px) {
          width: 2rem;
        }
      }
      @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 560px) {
        margin-bottom: 0;
      }
    }
    .btn-click {
      font-family: "neue_helvetica_extended";
      color: #fff;
      @media screen and (max-width: 560px) {
        // font-size: 1rem !important;
        margin-left: 1rem !important;
      }
      .coming_soon {
        // font-size: 1rem;
        // color: #e1ff04;
        // font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 0;
        margin-top: 0.8rem;
        color: #e1ff04;
        font-family: "neue_helvetica_roman";
        display: flex;
        align-items: center;

        .pos-top {
          position: relative;
          top: 5px;
        }
        .nft-counter {
          color: #fff;
        }
      }
    }
  }
  &.upcoming {
    background-image: url(../../images/mcl-game-launcher/ground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 10rem 0 2rem !important;
    @media screen and (min-width: 1300px) {
      min-height: 100%;
    }
    @media screen and (max-width: 560px) {
      min-height: 100%;
    }

    .trailer-content {
      text-align: center;
      .marque-block {
        position: unset !important;
        .marquee {
          font-family: "neue_helvetica_extended_bold" !important;
          font-weight: 800 !important;
        }
      }
      .download-icon-btn {
        img {
          width: 400px;
        }
      }
      .reload-btn {
        font-size: 5rem;
        color: #f2ed28;
        background-color: #0a3725;
        border-radius: 50rem;
        padding: 0.5rem;
        cursor: pointer;
        animation: mymove 5s infinite;
      }
    }
  }
}
@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.video-container {
  height: 100vh;
  .trailer-container {
    position: relative;
    .trailer-close-btn {
      position: absolute;
      color: #fff;
      cursor: pointer;
      top: 5rem;

      .close-comp {
        background: transparent;
        // border: 2px solid #e1ff04;
        border-radius: 4px;
        // padding: 1rem 2rem;
        font-size: 1.5rem;
        font-family: "neue_helvetica_extended_bold" !important;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
    iframe {
      height: 100vh;
    }
  }
}

.whitepaper .nft-counter {
  color: #e1ff04;
}

.game-launch-button {
  background: transparent linear-gradient(180deg, #192307 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  padding: 8rem 0;
  .launch-anchor {
    text-decoration: none;
    position: relative;
    display: block;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    .launch-btn {
      background: #192307 0% 0% no-repeat padding-box;
      border: 1px solid #3e511f;
      border-radius: 2px;
      opacity: 1;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      padding: 1rem 3rem;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        align-items: center !important;
        flex-direction: column;
      }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        align-items: center !important;
        flex-direction: column;
      }
      @media screen and (max-width: 560px) {
        display: inline-flex !important;
        width: 80%;
        margin: auto;
        align-items: center !important;
        flex-direction: column;
      }

      .launch-icon {
        display: block;
        width: 2rem;
        // height: 2rem;
        img {
          display: block;
          height: 1.5rem;
          // height: 2rem;
          // display: block;
          @media screen and (min-width: 576px) and (max-width: 991px) {
            margin-bottom: 1rem;
          }
          @media screen and (min-width: 320px) and (max-width: 560px) {
            margin-bottom: 1rem;
          }
        }
      }
      .launch-title {
        color: #f2ed27;
        font-size: 1.2rem;
        font-family: "neue_helvetica_extended_bold" !important;
        font-style: italic;
        text-transform: uppercase;
        margin-left: 1rem;

        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          font-size: 0.9rem;
        }
        span {
          color: #fff;
          font-style: normal;
          margin-left: 0.5rem;
        }
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   height: 1px;
      //   background: #f5ff002e;
      //   width: 33.3rem;
      //   bottom: -1px;
      // }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 1px;
      //   height: 12rem;
      //   left: -1px;
      //   background: #f5ff002e;
      // }
    }
  }
}
