$xl-width: 1200px;
$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;

$xl-max-width: 1160px;
$lg-max-width: 882px;
$md-max-width: 774px;
$sm-max-width: 650px;

$open-sans: "Open Sans", sans-serif !important;
$roboto-sans: "Roboto", sans-serif !important;

$dark-color: #000;
$little-dark-color: #222;
$theme-color: #871dc4;
$theme-color-lite: #c784ed;

//#fc7a4f
