$xl-width: 1200px;
$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;

$xl-max-width: 1160px;
$lg-max-width: 882px;
$md-max-width: 774px;
$sm-max-width: 650px;

// $futura: "Furuta" !important;

$dark-color: #000;
$little-dark-color: #222;
$theme-color: #871dc4;
$theme-color-lite: #c784ed;

//#fc7a4f

// Helper

@mixin text-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// new fonts

@font-face {
  font-family: "neue_helvetica_bold";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 75\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_light";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 45\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_thin";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 35\ Thin.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_ultralight";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 25\ Ultra\ Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "neue_helvetica_roman";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 55\ Roman.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_medium";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 65\ Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "neue_helvetica_heavy";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 85\ Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_black";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 95\ Black.ttf") format("truetype");
}

@font-face {
  font-family: "neue_helvetica_extended";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 53\ Extended.ttf")
    format("truetype");
}
@font-face {
  font-family: "neue_helvetica_extended_bold";
  src: url("../fonts/new/Helvetica\ Neue\ LT\ 73\ Bold\ Extended.ttf")
    format("truetype");
}
@font-face {
  font-family: Impact;
  src: url("../fonts/new/impact.ttf") format("opentype");
}
.our-team-section {
  .sectionHeading {
    font-size: 4rem;
    color: #f5ff00;
  }
  section.team-box {
    .team-member {
      .team-member-role {
        font-size: 1.3rem;
      }
      .team-member-name-desc {
        min-height: 22rem;
        .team-member-name {
          font-size: 3rem;
        }
        .team-member-desc {
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
    }
  }
}
section.our-investor-section {
  .sectionHeading {
    font-size: 4rem;
    color: #f5ff00;
  }
  .investor-member {
    .investor-member-name-desc {
      .investor-member-name {
        font-size: 3rem;
      }
      .investor-member-desc {
        font-size: 1.2rem;
        font-weight: normal;
      }
    }
  }
}

.our-teambeyond-section {
  .sectionHeading {
    font-size: 4rem;
  }
  .our-teambeyond-desc {
    font-size: 1.3rem;
    max-width: 64rem;
  }
}
$neue-helvetica-thin: "neue_helvetica_thin" !important;
$neue-helvetica-ultralight: "neue_helvetica_ultralight" !important;
$neue-helvetica-light: "neue_helvetica_light" !important;
$neue-helvetica-bold: "neue_helvetica_bold" !important;
$neue-helvetica-roman: "neue_helvetica_roman" !important;
$neue-helvetica-medium: "neue_helvetica_medium" !important;
$neue-helvetica-heavy: "neue_helvetica_heavy" !important;
$neue-helvetica-black: "neue_helvetica_black" !important;
$neue-helvetica-extended: "neue_helvetica_extended" !important;
$neue-helvetica-extended-bold: "neue_helvetica_extended_bold" !important;
$Impact: "Impact" !important;
