@import "./common";

// * {
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
// }

body {
  margin: 0;
  font-family: $neue-helveticalight;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #fafafa;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $neue-helveticabold;
}
input {
  &::placeholder {
    color: #e7e7e9;
  }
}

.font-10 {
  font-size: 10px !important;
}

.hide {
  display: none !important;
}

.show-inline {
  display: inline !important;
}

.show-inline-block {
  display: inline !important;
}

.show-flex {
  display: flex !important;
}

.show-inline-flex {
  display: inline-flex !important;
}

.show-block {
  display: block !important;
}

.main-body {
  margin-top: 60px;
}

/* loader */

/*--- flone preloader ---*/

.flone-preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.flone-preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.flone-preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: $theme-color;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.flone-preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*--- end of flone preloader ---*/

label {
  font-size: 12px;
  // text-transform: uppercase;
  font-weight: 600;
  color: #6f7074;
  margin-bottom: 0.25rem;
}

.otp-input {
  text-align: center;

  label {
    margin-bottom: 0.5rem;
  }
}

.otp-input > div {
  justify-content: center;
}

.otp-input input {
  width: 2em !important;
  height: 2em;
  font-size: 1rem;
  margin: 0 0.4rem;
  border: 1px solid #ced4da;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0d6efd40;
  }
}

// input {
//   border-radius: 2px !important;
//   font-size: 13px !important;
//   padding: 10px 15px !important;
// }

input,
textarea {
  font-size: 0.8rem !important;
  font-weight: bold !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.bl_drop_list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 30%;
  background: linear-gradient(
    to bottom,
    rgba(6, 27, 65, 0) 0%,
    rgba(27, 27, 28, 0.95) 100%
  );
  z-index: 0;
}
// .show.dropdown .theme-color svg {
//   color: red !important;
// }
.offcanvas {
  z-index: 1050 !important;
}

// select {
//   border-radius: 2px !important;
//   font-size: 13px !important;
// }

// button,
// .btn {
//   border-radius: 2px !important;
//   font-size: 13px !important;
//   svg {
//     margin-top: -4px;
//   }
// }

.font-onerem {
  font-size: 1rem !important;
}

.font-onerem {
  font-size: 1rem !important;
}

.font-psevenrem {
  font-size: 0.9rem !important;
}

.font-onesevenrem {
  font-size: 1.7rem !important;
}

.offline-ribbon {
  position: fixed;
  width: 100%;
  background-color: rgb(252, 73, 73);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  z-index: 200000;
  padding: 1.2rem;
}

.top-loader {
  display: none;
  position: fixed;

  width: 100%;
  font-size: 12px;
  padding: 2px 0;
  z-index: 1000000;

  // background: linear-gradient(
  //   272deg,
  //   #f34d0f,
  //   #19d753,
  //   #e42cee,
  //   #c9ff22,
  //   #2257ff,
  //   #22ffed
  // );
  // background-size: 1200% 1200%;

  // -webkit-animation: AnimationName 3s ease infinite;
  // -moz-animation: AnimationName 3s ease infinite;
  // animation: AnimationName 3s ease infinite;

  @media (min-width: 992px) {
    animation-duration: 0.8s;
    background: linear-gradient(to right, #616060 8%, #ffffff 18%, #616060 33%);
  }

  animation-duration: 2s;
  background: linear-gradient(to right, #616060 0%, #ffffff 20%, #616060 100%);

  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
}

.loading-indicator {
  .top-loader {
    display: block;
  }
  .whole-content {
    pointer-events: none;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150em 0;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);
  outline: 1px solid #ccc;
  border-radius: 10px;
}

@media (min-width: $sm-width) {
}

@media (min-width: $md-width) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media (min-width: $lg-width) {
  .w-lg-42 {
    width: 42% !important;
  }
}

@media (min-width: $xl-width) {
}

.history-modal {
  .modal-content {
    overflow: hidden;
    border-radius: 0.5rem;

    .modal-bid-history-title-content {
      padding: 0.6rem 1.5rem;
      background-color: #000;
      display: flex;
      justify-content: space-between;

      .modal-bid-history-title {
        font-family: $neue-helveticamedium;
        font-size: 1.5rem;
        color: #fff;
      }

      .modal-bid-history-filter {
        display: flex;
        align-items: center;

        .history-dropdown {
          a.dropdown-toggle {
            color: white;
            font-family: $neue-helveticalight;
            font-size: 0.9rem;
          }
          .dropdown-menu {
            min-width: 1rem !important;
          }
        }
      }
    }
    .modal-body {
      max-height: 70vh;
      overflow: auto;
      padding-bottom: 0;

      .history-table-expand {
        thead {
          tr {
            th {
              font-family: $neue-helveticamedium;
              border-bottom: 1px solid #e7e7e9;
            }
          }
        }

        tbody {
          tr {
            td {
              font-family: $neue-helveticamedium;
              border-bottom: 1px solid #e7e7e9;

              .expand-history-owner {
                display: flex;
                align-items: center;

                img {
                  height: 30px;
                  width: 30px;
                  border-radius: 50%;
                  margin-right: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}

// @media (min-width: 1440px) {
//   html {
//     font-size: 16px;
//   }
// }

// @media (min-width: 1200px) {
//   html {
//     font-size: 16px;
//   }
// }

// @media (min-width: 992px) {
//   html {
//     font-size: 10px;
//   }
// }

// @media (min-width: 768px) {
//   html {
//     font-size: 1px;
//   }
// }

// @media (min-width: 576px) {
//   html {
//     font-size: 1px;
//   }
// }
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .creator.mt-3 {
    margin-top: 1rem !important;
  }
  .nft-artist .artist-content .artist-details-content {
    min-height: auto !important;
  }
  .nft-artist .artist-content .artist-img {
    width: 100% !important;
  }
  .nft-media.media_audio img {
    height: auto !important;
  }
}

@media (min-width: 991px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  // html {
  //   font-size: 12px;
  // }
  html {
    font-size: 13px;
  }
  .pop-body-container .pop-nft-details .input-bid-container {
    margin-top: 2rem !important;
  }
}

@media (min-width: 1400px) {
  // html {
  //   font-size: 13px;
  // }

  .pop-body-container .pop-nft-details .input-bid-container {
    margin-top: 3rem !important;
  }
}

@media (min-width: 1600px) {
  .pop-body-container .pop-nft-details .input-bid-container {
    margin-top: 2rem !important;
  }
}

// @media screen and (min-width: 1225px) and (max-width: 1364px) {
//   .winner-text {
//     right: -35% !important;
//     top: 35% !important;
//   }
// }
// @media screen and (min-width: 1365px) and (max-width: 1466px) {
//   .winner-text {
//     right: -38% !important;
//     top: 35% !important;
//   }
// }

// @media screen and (min-width: 1465px) and (max-width: 1566px) {
//   .winner-text {
//     right: -38% !important;
//     top: 35% !important;
//   }
// }
@media screen and (min-width: 1567px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1667px) {
  html {
    font-size: 15px;
  }
}

// @media screen and (min-width: 1767px) and (max-width: 1866px) {
//   html {
//     font-size: 18px;
//   }
// }
@media (min-width: 1800px) {
  .pop-body-container .pop-nft-details .input-bid-container {
    margin-top: 2rem !important;
  }
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 1867px) {
  html {
    font-size: 17px;
  }
  // .winner-text {
  //   right: -40% !important;
  //   top: 35% !important;
  // }
  // .pop-body-container .pop-nft-details .input-bid-container {
  //   margin-top: 3rem !important;
  // }
}

@media screen and (min-width: 1967px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 2067px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 2167px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 2267px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 2467px) {
  html {
    font-size: 22px;
  }
  // .winner-text {
  //   right: -26% !important;
  //   top: 32% !important;
  //   font-size: 8rem !important;
  // }
}

@media screen and (min-width: 2567px) {
  html {
    font-size: 25px;
  }
}
.no_height {
  height: 83vh;
}
@media screen and (min-width: 2667px) and (max-width: 2766px) {
  html {
    font-size: 25px;
  }
}
// @media screen and (min-width: 2767px) and (max-width: 2866px) {
//   html {
//     font-size: 25px;
//   }
// }

// @media screen and (min-width: 2867px) and (max-width: 2966px) {
//   html {
//     font-size: 25px;
//   }
// }

@media (min-width: 3066px) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 4066px) {
  html {
    font-size: 38px;
  }
}
@media (min-width: 5066px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 6066px) {
  html {
    font-size: 62px;
  }
}
@media (min-width: 7066px) {
  html {
    font-size: 72px;
  }
}
@media only screen and (max-width: 479px) {
  html {
    font-size: 13px !important;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  div#freshworks-container {
    display: none;
  }
}
// responsive media query

@media only screen and (min-width: 3072x) and (max-width: 2466px) {
  .audioOnmedia {
    left: 27% !important;
    height: 4rem;
    bottom: 0rem !important;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 4rem;
    left: 50% !important;
  }
  .bid-winner {
    min-height: 50vh !important;
  }
}
/* Tablet (Landscape)
----------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .audioOnmedia {
    left: 27% !important;
    height: 4rem;
    bottom: 0rem !important;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 4rem;
    left: 50% !important;
  }
  // .nft-media.media_audio {
  //   height: auto !important;
  // }
}

/* Tablet (Portrait)
----------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nft-artist
    .artist-content
    .artist-details-content
    .bottom-owner-contact-links {
    top: 0 !important;
  }
  .nft-artist .artist-content .artist-details-content {
    min-height: auto !important;
  }
  .recharge-btn {
    width: 100% !important;
    font-size: 1rem;
  }
  .w-75 {
    width: auto !important;
  }
  .audioOnmedia {
    left: 27% !important;
    height: 4rem;
    bottom: 0rem !important;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 4rem;
    left: 50% !important;
  }
  .show_gif {
    height: auto !important;
  }
  .bid-auction {
    min-height: 40vh !important;
  }
  .bid-winner {
    min-height: 58vh !important;
  }
  .bid-winner .bottom-section .bidding-history-btn {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1124px) {
  // .winner-text {
  //   right: -38% !important;
  // }
  .nft-media.media_audio {
    height: 100% !important;
  }
  // html {
  //   font-size: 11.5px;
  // }
  .bid-winner {
    min-height: 90vh !important;
  }
  .bid-winner .winner-user-details img {
    height: 11rem !important;
    width: 11rem !important;
  }
}
/* Mobile (Landscape)
----------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 639px) {
  .p-4 {
    flex-basis: calc(50% - 12px) !important;
  }
  .nft-media.media_audio img {
    height: auto !important;
  }
  h2.drop-title__heading {
    font-size: 2.45rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .nft-artist .artist-content .artist-img {
    width: 100%;
    max-height: initial !important;
    object-fit: cover !important;
  }
  .creator.mt-3 {
    margin-top: 1rem !important;
  }
  .fit-to-height {
    height: auto !important;
  }
  .nft-media.media_audio img {
    height: auto !important;
  }
  .sub-header-nft .sub-place-bid-btn {
    padding: 0.5rem 1.5rem;
  }
  .bid-auction {
    min-height: 40vh !important;
  }
  .audioOnmedia {
    left: 26% !important;
    height: 4rem;
    bottom: 0rem !important;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 2.5rem;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 4rem;
    left: 50% !important;
  }
  .table-responsive-lg {
    white-space: nowrap;
  }
  .sw_3 .nav-tabs a span {
    display: none;
  }

  .nft-media.media_audio {
    height: auto !important;
  }
  .show_gif {
    height: auto !important;
  }
  .bid-history .bid-history-content {
    min-height: auto !important;
    max-height: initial !important;
    white-space: nowrap !important;
  }
  .bid-history .bid-history-content .bid-histroy-card {
    margin: 0 1rem !important;
  }
  .bid-winner .bottom-section .bidding-history-btn {
    font-size: 1rem !important;
  }
}

/* Mobile (Portrait only)
----------------------------------------------------------- */

@media only screen and (max-width: 479px) {
  .recharge-btn {
    width: 100% !important;
  }
  .creator.mt-3 {
    margin-top: 1rem !important;
  }
  .fit-to-height {
    height: auto !important;
  }
  // section.sw_ab_1 {
  //   padding: 4rem 1.2rem;
  // }

  .bid-auction {
    min-height: 60vh !important;
  }
  .bl_drop_list {
    height: 25vh !important;
  }
  .sw_3 .nav-tabs a span {
    display: none;
  }
  .card_title {
    text-align: left !important;
    max-width: 100% !important;
  }
  .place-bid-btn {
    width: 100% !important;
  }
  .nft-summary .p-4 {
    padding: 1rem 1rem 0rem !important;
  }
  .section-title {
    margin: 2rem 0 2rem 0 !important;
  }

  .sub-header-nft .sub-head-title .nft-head-details .sub-nft-title {
    font-size: 1rem !important;
  }
  .nft-media.media_audio {
    height: auto !important;
  }
  .sub-header-nft .sub-place-bid-btn {
    font-family: $neue-helveticamedium;
    font-size: 0.9rem !important;
    padding: 0.5rem 0.5rem !important;
    width: 100px;
  }
  .bid-history .bid-history-content {
    min-height: auto !important;
    max-height: initial !important;
    white-space: nowrap !important;
  }
  .bid-history .bid-history-content .bid-histroy-card {
    margin: 0 1rem !important;
  }
  .table-responsive-lg {
    white-space: nowrap;
  }
  .show_gif {
    height: auto !important;
  }
  .audioOnmedia {
    left: 35% !important;
    height: 2.8rem;
    width: 65% !important;
    bottom: -0.6rem !important;
    line-height: 0 !important;
  }
  .media_audio.modal-body .audioOnmedia {
    height: 2.5rem;
    width: 90%;
    left: 50% !important;
  }
  // .media-lsf .svg_size {
  //   width: 15px !important;
  //   height: 15px !important;
  // }
  .pop-body-container .pop-nft-details .bottom-area .terms {
    font-size: inherit !important;
  }

  .bid-winner .nft-sold-details {
    display: block !important;
  }
  .bid-winner .nft-lastbid-details {
    display: block !important;
    margin-bottom: 2rem;
  }
  .bid-winner .bottom-section .bidding-history-btn {
    font-size: 1rem !important;
  }
  .nft-artist
    .artist-content
    .artist-details-content
    .artist-pill-container
    .artist-pill
    .pill-value {
    font-size: initial !important;
  }
  .nft-artist
    .artist-content
    .artist-details-content
    .artist-pill-container
    .artist-pill
    .pill-title {
    font-size: inherit !important;
  }
  .bid-winner .winner-user-details img {
    height: 10rem !important;
    width: 10rem !important;
  }
  // .place-bid-btn {
  //   padding-top: 0.5rem !important;
  //   padding-bottom: 0.5rem !important;
  // }
  html {
    font-size: 12px !important;
  }
  .nft-artist .artist-content .artist-img {
    object-fit: cover !important;
  }
  .nft-more .nft-more-content .more-card img {
    width: 100% !important;
    object-fit: cover !important;
  }
  // section.sw_ab_1 {
  //   padding: 4rem 1.3rem !important;
  // }
  .scroll-drops {
    display: none;
  }
  .drop_card {
    margin-top: 4em;
  }
  .drop-newsletter h1 {
    font-size: 2.21em !important;
    font-weight: 500;
  }
  .card_title {
    padding-left: 2em;
    padding-right: 2em;
  }
  .drop-newsletter .formGroup {
    width: 100% !important;
  }
  section.drop-newsletter {
    padding: 2em;
  }
  section.drop-newsletter {
    background-position-x: 98% !important;
  }
  section.drop-newsletter {
    padding: 2em !important;
  }
}

// responive media query ends

@media (min-width: 2100px) {
  .nft-more .nft-more-content .more-card img {
    // width: 20rem !important;
    width: 100%;
  }

  .nft-artist .artist-content .artist-img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover !important;
  }
  img.newsletter_btn_icon {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 1024px), screen and (max-height: 800px) {
}

.fa-spin {
  -webkit-animation: fa-spin 0.3s infinite linear;
  animation: fa-spin 0.3s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 479px) {
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    padding: 0 1rem !important;
  }
}

.header-powereby {
  color: #88fa4e !important;
}

// Header Styles

.head-title {
  font-family: $neue-helveticabold;
  color: #ffffff !important;
  text-align: right;
  font-size: 1.4rem;
  user-select: none;
  @media screen and (max-width: 375px) {
    font-size: 1.2rem;
  }

  .sub-head-title {
    font-family: $neue-helveticalight;
    font-size: 0.7rem;
  }
}

.header-user-details {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 5px 5px 5px;
  border-radius: 50rem;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 0.5rem;
  background: #000000;
  min-width: 10rem;

  &:hover {
    outline: 0;
    background: #ffffff4f;

    .user-name {
      color: #ffffff;
    }
  }

  .user-name {
    margin-left: 0.7rem;
    font-family: $neue-helveticalight;
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 0.7rem;
    width: calc(100% - 3.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-image {
    height: 2rem;
    border-radius: 50%;
    width: 2rem;
    object-fit: cover;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
  font-family: $neue-helveticalight;
  font-size: 1.1rem;
  padding-left: 1rem;
  @media screen and (max-width: 375px) {
    padding: 0.3rem 0.8rem 0.3rem;
    font-size: 0.9rem;
  }
}

.navbar-nav {
  align-items: center;
  flex-direction: row;
  svg {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.dropdown-menu {
  min-width: 15rem;
  padding: 0.5rem;
  margin-top: 0.6rem !important;

  .dropdown-item {
    font-size: 1rem;
    font-family: $neue-helveticamedium;
    border-radius: 0.2rem;
    margin: 0.3rem 0;

    &:hover,
    &:active {
      color: #000000 !important;
      background-color: #e7e7e9;
    }
  }
}

.noti-container {
  min-width: 30rem;
  padding: 0;
  border-radius: 0.6rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.49);
  overflow: hidden;
  border: 1px solid #d0d0d0;

  .noti-header {
    font-family: $neue-helveticamedium;
    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 1rem;
    background: #000;
    color: #fff;
  }

  .noti-content {
    max-height: 65vh;
    overflow: auto;
    padding: 0;

    .sub-header {
      font-family: $neue-helveticamedium;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      background: #dedede;
      padding: 0.5rem 1rem;
    }

    .noti-message {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      width: 100%;
      padding: 0.5rem 0.8rem;
      border-bottom: 1px solid #dedede;
      &:hover {
        box-shadow: 0px 1px 5px #dedede;
      }

      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        margin-right: 0.8rem;
      }

      .noti-message-content {
        width: calc(100% - 3.8rem);
        .title {
          font-family: $neue-helveticamedium;
          font-size: 0.95rem;
        }
        .desc {
          font-family: $neue-helveticamedium;
          font-size: 0.8rem;
        }
        .noti-time {
          font-family: $neue-helveticamedium;
          font-size: 0.8rem;
          margin-top: 0.3rem;
        }
      }
    }

    .noti-load-more {
      padding: 0.5rem;
      text-align: center;
      font-family: $neue-helveticamedium;
      font-size: 0.8rem;
    }
  }
}
.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-dark .navbar-nav {
  .nav-link {
    border: 1px solid #fff;
    border-radius: 2em;
    padding: 0.6rem 2rem 0.5rem;
    margin-right: 0.5rem;
    @media screen and (max-width: 375px) {
      padding: 0.3rem 0.8rem 0.3rem;
    }
    &:last-child {
      margin-right: 0;
      background: #fff;
      color: #000 !important;
      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }
  }
}
.navbar-nav .dropdown {
  margin-right: 1rem;
}
.navbar-dark .navbar-nav a.help_ic {
  border: none;
  border-radius: 0;
  padding: 0;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.top_bar {
  text-align: center;
  padding: 0.2em 0;
  position: relative;
  .alert_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 15px;
    .alert_info {
      width: calc(100% - 2rem);
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        // font-size: 1rem;
        margin: 0;
      }
      a {
        color: #ff3462;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        text-decoration: none;
        font-family: $neue-helveticabold;
        @media screen and (max-width: 767px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 479px) {
          font-size: 1.3rem;
        }
      }
    }
    .alert_close {
      width: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        // position: absolute;
        // top: 0.3em;
        // right: 2em;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        font-size: 1.9rem;
        svg,
        img {
          height: 1.3rem;
          width: 1.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-dark .discord_ic svg {
    display: none;
  }
  .navbar-dark .navbar-nav a.help_ic svg {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-dark .discord_ic svg {
    display: block;
  }

  .alert_info {
    width: 88%;
    padding-left: 2%;
  }
  .alert_info p {
    font-size: 0.8em;
    line-height: 1.4;
  }
  // .alert_close span {
  //   right: 0.5em;
  //   top: 0.6em;
  // }
  .discord_ic span {
    display: none;
  }
  .navbar-dark .navbar-nav .discord_ic {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-dark .navbar-nav .discord_ic svg {
    margin: 0.5rem auto 0;
    height: 1.5rem;
  }
}

// @media screen and (max-width: 767px){

// }
@media screen and (min-width: 561px) {
  .dropdown-menu.show.dropdown-menu-end {
    .header-user-details {
      display: none;
    }
  }
}
@media screen and (max-width: 560px) {
  .user-name {
    display: none !important;
  }
  .dropdown-menu.show.dropdown-menu-end {
    .header-user-details {
      display: block;
      &:hover {
        background: #000000;
      }
    }
    .user-name {
      display: inline-flex !important;
    }
  }

  .header-user-details {
    padding: 5px 5px 5px 5px;
    min-width: 1rem;
  }
  .noti-container.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto;
    min-width: 28rem;
  }
}

@media screen and (max-width: 320px) {
  .noti-container.dropdown-menu-end[data-bs-popper] {
    right: -50px;
  }
}

.popover {
  max-width: 20rem;
}

@media screen and (min-width: 376px) {
  #drop_inner {
    display: none;
  }
  #drop_outer {
    display: block;
    padding: 0;
    margin-right: 1rem;
    border: none !important;
  }
}
@media screen and (max-width: 375px) {
  #drop_outer,
  .user-name {
    display: none;
  }
  #drop_inner {
    display: block;
  }
  .noti-container.dropdown-menu-end[data-bs-popper] {
    right: -60px;
    min-width: 22rem !important;
  }
}

.nofi-color {
  height: 0.7rem;
  width: 0.7rem;
  position: absolute;
  top: 0.3rem;
  right: 0.7rem;
  background: #f00;
  border-radius: 50px;
}
