@import "../../styles/common";

.nft-prop-pills {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-right: 3rem;

  img {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
    object-fit: scale-down;
    margin-right: 1rem;
  }
  .title {
    font-size: 1.1rem;
    font-family: $neue-helvetica-medium;
  }

  .desc {
    font-family: $neue-helvetica-medium;
    font-size: 0.9rem;
  }
}
