@import "../../styles/common";

.current-bid {
  flex: 1;
  .title {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    font-family: $neue-helveticamedium;

    .status-tag {
      margin-left: 0.5rem;
      font-size: 0.8rem;
      padding: 0.2rem 0.4rem;
      border: 1px solid #f21e00;
      color: #f21e00;
    }
  }
  .value {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .crypto {
      font-size: 2.3rem;
      font-family: $neue-helveticabold;
      display: flex;
      align-items: flex-end;

      .edition {
        font-size: 1.2rem;
        font-family: $neue-helveticamedium;
        color: #9c9c9b;
        margin-bottom: 0.5rem;
      }
    }

    .user-detail {
      display: flex;
      align-items: center;
      margin-top: 0.8rem;

      img {
        height: 2rem;
        width: 2rem;
        object-fit: cover;
        border-radius: 50%;
      }

      .win-user-name {
        margin-left: 0.7rem;
        font-size: 1.2rem;
        font-family: $neue-helveticamedium;
      }
    }
  }
}
