@import "../../styles/common";

.user-hero-section {
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  padding: 0;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    border-radius: 0rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.user {
  &-info {
    &-box {
      // width: 100%;
      // max-width: 26rem;
      // border: 0.2rem solid #000;
      // height: 100%;
      // position: relative;
      // background: #fff;
      // top: -9rem;
      // border-radius: 1rem;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // padding: 3rem 1rem;
      position: relative;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: -4rem;
      padding: 0 1rem;
      max-width: 35rem;
      margin-left: auto;
      margin-right: auto;
    }
    &-image {
      min-height: 7.75rem;
      min-width: 7.75rem;
      margin-bottom: 1rem;
      border-radius: 50%;
      width: 7.75rem;
      height: 7.75rem;
      object-fit: cover;
      background: #000;
    }
    &-name {
      font-size: 1.8rem;
      font-family: $neue-helvetica-bold;
      margin-bottom: 1rem;
      word-break: break-word;
      color: #fff;
      text-align: center;
    }
    &-subname {
      font-size: 1.2rem;
      font-family: $neue-helvetica-medium;
      margin-bottom: 0.5rem;
      color: #fff;
      word-break: break-word;
      text-align: center;
    }
    &-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 3rem;
      padding: 0 1.5rem;
      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.5rem;
        list-style: none;
        font-size: 1.2rem;
        .value {
          font-family: $neue-helvetica-medium;
        }
        .value {
          font-family: $neue-helvetica-bold;
        }
      }
    }
  }
}
