@import "../../styles/common";

.nft-media {
  text-align: center;
  background-color: #e7e7e9;
  position: relative;

  // img,
  // video,
  // audio {
  //   height: 40vh;
  //   max-height: 40vh;
  //   width: 100%;
  //   object-fit: scale-down;

  //   @media (min-width: 992px) {
  //     height: 82vh;
  //     max-height: 82vh;
  //   }
  // }

  .media-lsf {
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    display: flex;

    div {
      background-color: #ffffff;
      padding: 0.5rem;
      border-radius: 0.3rem;
      margin-left: 0.5rem;
      cursor: pointer;

      &:active {
        background-color: #c9c7c7;
      }
    }
  }
}

.modal-img {
  max-height: 100vh;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.media_audio img,
.media_audio video {
  margin: auto;
  width: 85%;
  display: block;
  object-fit: contain;
  height: 85%;
  // @media screen and (max-width: 991px) {
  //   width: 96%;
  //   height: 80%;
  // }
}
.media_audio.modal-body img,
.media_audio.modal-body video {
  margin: auto;
  display: block;
  width: 100%;
  height: calc(100vh - 120px);
  object-fit: contain;
  object-position: center;
}
.custom-pop {
  font-family: $neue-helveticamedium;

  svg {
    padding: 0.25rem;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(228, 225, 225);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.full-screen-header {
  border: none;

  button {
    font-size: 1.5rem;
    opacity: 1;
  }
}

// .nft-media.media_audio {
//   position: relative;
//   display: inline-block;
// }
.nft-media.media_audio {
  position: relative;
  display: flex;
  width: 100%;
  background: #ededef;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8.5rem) !important;
  @media screen and (max-width: 991px) {
    min-height: calc(100vh - 20rem);
    height: auto !important;
  }
  .video-height {
    width: 100%;
    display: flex;
    height: 100%;
    @media screen and (max-width: 991px) {
      width: 100%;
      display: flex;
      height: calc(100vh - 10rem); 
    }
  }
  .no_height {
    @media screen and (max-width: 991px) {
      height: auto;
    }
  }
}
.show_height {
  display: flex;
  width: 100%;
  height: 82vh;
  align-items: center;
  justify-content: center;
}
img.type_gif {
  width: auto !important;
}

.nft-media.media_audio img {
  // display: block;
  // width: 100%;
  // height: calc(100vh - 9.5rem);
  // object-fit: contain;
  // object-position: center;
  // padding: 2rem;

  display: block;
  max-width: 100%;
  max-height: calc(100vh - 9.5rem);
  object-fit: contain;
  object-position: center;
  padding: 2rem;
  width: auto;
}
.audioOnmedia {
  position: absolute;
  top: auto;
  width: 80%;
  left: 0 !important;
  bottom: 4rem;
  margin: auto;
  display: flex;
  right: 0;
  height: 3rem;
}
.media_audio.modal-body .audioOnmedia {
  width: 80%;
  max-width: 25rem;
}
