.header-user-details {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 5px 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0d6efd40;
  }

  .user-name {
    font-weight: bold;
    margin-right: 0.7rem;
  }

  .user-image {
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}

.dropdown-item {
  font-size: 0.85rem;
}
