@import "../../styles/common";
.css-5cmxo2 {
  flex: none;
  height: 100%;
  display: inline-flex !important;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;

  .css-vurnku {
    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }
}
.css-1oowbt2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  line-height: 16px;
  background-color: #ff0000;
  color: #fff;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.blinker {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.css-1oowbt2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -3px;
  top: 2px;
  border-left: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  border-right-color: #ff0000;
}

#scroll-container {
  overflow: hidden;
  width: 100px;
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
  white-space: nowrap;
  display: -webkit-inline-box;

  span {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
    background-color: #ff0000;
  }
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.side-menu {
  position: fixed !important;
  right: 0rem !important;
  top: 0rem !important;
  bottom: 0;
  background: #000000;
  width: 20rem;
  height: calc(100vh);
  display: block;
  max-width: inherit;
  overflow-y: auto;
  margin: 0 !important;
  border-radius: 0 !important;
  transform: translate(100%);
  transition: 0.5s all ease-in-out;
  &.show {
    transform: translate(0%);
  }
  .dropdown-item {
    font-size: 1.2rem;
    font-family: "neue_helveticamedium" !important;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    color: #ffffff;
    padding: 1rem 1rem;
  }

  #drop_outer {
    display: block;
    font-size: 1.2rem;
    font-family: "neue_helveticamedium" !important;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: #000;
    }
  }
}

.side-menu #drop_outer + .dropdown-menu-end {
  position: relative;
  transition: 0.5s all ease;
  background: #222127;
}
.menu-icon {
  margin-left: 1rem;
  display: block;
  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.close-icon {
  text-align: right;
  padding: 1.2rem 1rem;
}

.beta-container {
  position: relative;
  .beta-tag {
    position: absolute;
    right: 0;
    background-color: rgb(212, 127, 0);
    font-family: $neue-helvetica-medium;
    font-size: 0.6rem;
    bottom: -0.8rem;
    border-radius: 50rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

.offcanvas-body {
  .sticky-top {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
}

.logoImage {
  height: 3.5rem;
}

.bgImageHeader {
  background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jump/jump-trade/header_bg.png");
  background-position: center;
  background-size: cover;
}
