@import "../../styles/common";

.head-title {
  font-family: $futura;
  color: #ffffff !important;
  text-align: right;
  font-size: 1.6rem;

  .sub-head-title {
    font-family: $neue-helveticalight;
    font-size: 0.7rem;
  }
}

.header-user-details {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px 5px 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 0.5rem;
  background: #000000;
  min-width: 10rem;

  &:hover {
    outline: 0;
    background: #ffffff;

    .user-name {
      color: #000000;
    }
  }

  .user-name {
    margin-left: 0.7rem;
    font-family: $neue-helveticalight;
    color: #ffffff;
  }

  .user-image {
    height: 30px;
    border-radius: 50%;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
  font-family: $neue-helveticalight;
}

.navbar-nav {
  align-items: end;
}

.dropdown-menu {
  min-width: 15rem;
  padding: 0.5rem;
  margin-top: 0.6rem !important;

  .dropdown-item {
    font-size: 0.85rem;
    font-family: $neue-helveticamedium;
    border-radius: 0.2rem;
    margin: 0.3rem 0;

    &:hover,
    &:active {
      color: #000000 !important;
      background-color: #e7e7e9;
    }
  }
}
