.nft-props {
  .nft-props-title {
    font-size: 2rem;
    font-weight: bolder;
  }
  .nft-props-desc {
    font-size: 1rem;
    font-weight: bolder;
  }
  .nft-props-content {
    display: flex;
    flex-wrap: wrap;
  }
}
