@import "../../styles/common";

.bid-history {
  border-radius: 8px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;

  .history-end-content {
    font-family: $neue-helveticamedium;
    color: #9c9c9b;
    font-size: 0.9rem;
    text-align: center;
    flex: 1;
  }

  .bid-history-title-content {
    padding: 1.2rem 1.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    .bid-history-title {
      font-family: $neue-helveticamedium;
      font-size: 1.5rem;
      color: #000;
      @media screen and (max-width: 450px) {
        width: 100%;
      }
      ul.nav-btn-grp {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        @media screen and (max-width: 450px) {
          flex-direction: column;
          width: 100%;
        }
        li {
          @media screen and (max-width: 450px) {
            width: 100%;
            &:first-child {
              margin-bottom: 1rem;
            }
          }
          span {
            font-family: $neue-helveticamedium;
            font-size: 1.2rem;
            color: #000;
            display: flex;
            margin-right: 1.2rem;
            text-decoration: none;
            padding: 0.2rem 1.5rem;
            border-radius: 50rem;
            background-color: #e7e7e7;
            cursor: pointer;
            @media screen and (max-width: 450px) {
              width: 100%;
              justify-content: center;
            }
            &:hover,
            &:focus,
            &:active {
              background-color: #d3d3d3;
            }
            &.active {
              background-color: #000;
              color: #fff;
            }
          }
        }
      }
    }

    .bid-history-filter {
      display: flex;
      align-items: center;

      .history-dropdown {
        a.dropdown-toggle {
          color: white;
          font-family: $neue-helveticalight;
          font-size: 0.9rem;
        }
        .dropdown-menu {
          min-width: 1rem !important;
        }
      }
    }
  }

  .bid-history-content {
    // min-height: calc(100vh - 10rem) !important;
    // max-height: 65vh;
    min-height: calc(100vh - 24rem) !important;
    max-height: 55vh;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @media screen and (min-height: 1024px) {
      min-height: unset !important;
      max-height: 35rem !important;
    }

    .bid-histroy-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #e7e7e9;
      margin: 0 1rem;
      border-radius: 0.5rem;

      .first-half {
        display: flex;
        align-items: center;
        width: calc(100% - 15rem);
        &.full-width {
          width: 100% !important;
          .bid-owner {
            font-family: $neue-helveticamedium;
            display: flex;
            flex-wrap: wrap;
            .transaction-value {
              font-family: $neue-helveticabold;
              display: inline-flex;
              flex-wrap: wrap;
            }
          }
        }

        img {
          height: 3rem;
          width: 3rem;
          min-height: 3rem;
          min-width: 3rem;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 1rem;
          background-color: #ccc;
        }

        .time {
          font-size: 1rem;
          font-family: $neue-helveticamedium;
          .expire-pill {
            padding: 0.3rem 0.5rem;
            background-color: #bdbdbc;
            color: #fff;
            border-radius: 0.3rem;
            margin-left: 0.5rem;
            font-size: 0.8rem;
            white-space: nowrap;
            @media screen and (max-width: 767px) {
              margin-left: 0;
            }
            &.active {
              background-color: #4caf50;
            }
          }
          @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
          }
        }
        .bid-expire-cntent {
          font-family: $neue-helveticalight;
          color: red;
          display: flex;
          align-items: center;

          .nft-counter {
            margin-left: 0.4rem;
            .counter-time {
              font-size: 1rem;
              font-family: $neue-helveticabold;
            }
            .counter-interval {
              margin-left: 0.2rem;
              font-size: 0.9rem;
              font-family: $neue-helveticabold;
            }
            .interval-gap {
              margin-right: 0.3rem;
            }
          }
        }
        .bid-owner {
          font-size: 1.15rem;
          font-family: $neue-helveticamedium;
          .owner-id {
            cursor: pointer;

            &:hover {
              color: #000 !important;
            }
          }
        }
      }

      .second-half {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
          align-items: flex-end;
          justify-content: flex-start;
          flex-direction: column-reverse;
        }
        .bid-value {
          font-size: 1.2rem;
          font-family: $neue-helveticabold;
        }
        .assign-btn {
          background-color: #fff;
          display: flex;
          padding: 0.4rem 1.5rem;
          margin: 0px 1rem;
          border-radius: 5rem;
          color: #000;
          text-decoration: none;
          display: none;
          border: none !important;
          @media screen and (max-width: 767px) {
            margin: 0.5rem 0rem;
            font-size: 0.8rem;
            padding: 0.2rem 1rem;
          }
        }
      }
    }
    &.owner {
      .active-history-card {
        margin-top: 1rem !important;
        &:hover,
        &:focus,
        &:active {
          background-color: #000;
          .first-half {
            .bid-owner {
              color: #fff;
            }
          }
          .second-half {
            .assign-btn {
              display: flex;
            }
            .bid-value {
              color: #fff;
            }
          }

          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  .bid-empty-content {
    background-color: #000;
    min-height: calc(100vh - 24rem) !important;
    max-height: 55vh;
    margin-top: -1px;
    padding: 1rem;

    .empty-top-container {
      color: #fff;
      display: flex;
      height: 50vh;

      .empty-top-content {
        flex: 1;
        align-self: center;
        text-align: center;

        svg {
          font-size: 3rem;
        }
        .empty-text {
          font-family: $neue-helveticamedium;
          font-size: 1.7rem;
        }
      }
    }

    .empty-bottom-content {
      position: sticky;
      top: 100vh;
      display: flex;
      background-color: #fff;
      border-radius: 0.5rem;
      padding: 1.5rem;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .publish-time {
        font-size: 0.8rem;
        font-family: $neue-helveticamedium;
      }

      .nft-owner {
        font-size: 1rem;
        font-family: $neue-helveticabold;

        span {
          cursor: pointer;

          &:hover {
            color: #000 !important;
          }
        }
      }
    }
  }
}
