@import "../../styles/common";

.bid-history {
  border-radius: 8px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;

  .history-end-content {
    font-family: $neue-helvetica-medium;
    color: #9c9c9b;
    font-size: 0.9rem;
    text-align: center;
    flex: 1;
  }

  .bid-history-title-content {
    padding: 0.6rem 1.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    .bid-history-title {
      font-family: $neue-helvetica-medium;
      font-size: 1.5rem;
      color: #000;
    }

    .bid-history-filter {
      display: flex;
      align-items: center;

      .history-dropdown {
        a.dropdown-toggle {
          color: white;
          font-family: $neue-helvetica-light;
          font-size: 0.9rem;
        }
        .dropdown-menu {
          min-width: 1rem !important;
        }
      }
    }
  }

  .bid-history-content {
    // min-height: calc(100vh - 10rem) !important;
    // max-height: 65vh;
    min-height: calc(100vh - 24rem) !important;
    max-height: 55vh;
    // border-left: 2px solid #000;
    // border-right: 2px solid #000;
    // border-bottom: 2px solid #000;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @media screen and (min-height: 1024px) {
      min-height: unset !important;
      max-height: 35rem !important;
    }

    .bid-histroy-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #e7e7e9;
      margin: 0 1rem;
      border-radius: 0.5rem;
      .first-half {
        display: flex;
        align-items: center;
        width: calc(100% - 15rem);
        img {
          height: 3rem;
          width: 3rem;
          min-height: 3rem;
          min-width: 3rem;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 1rem;
          background-color: #ccc;
        }

        .time {
          font-size: 1rem;
          font-family: $neue-helvetica-medium;
          .expire-pill {
            padding: 0.3rem 0.5rem;
            background-color: #bdbdbc;
            color: #fff;
            border-radius: 0.3rem;
            margin-left: 0.5rem;
            font-size: 0.8rem;
            white-space: nowrap;
            @media screen and (max-width: 767px) {
              margin-left: 0;
            }
            &.active {
              background-color: #4caf50;
            }
          }
          @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
          }
        }

        .bid-owner {
          font-size: 1.15rem;
          font-family: $neue-helvetica-medium;
          width: calc(100%);
          word-wrap: break-word;
          .owner-id {
            cursor: pointer;

            &:hover {
              color: #000 !important;
            }
          }
        }
      }

      .second-half {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
          align-items: flex-end;
          justify-content: flex-start;
          flex-direction: column-reverse;
        }
        .bid-value {
          font-size: 1.2rem;
          font-family: $neue-helvetica-bold;
        }
        .assign-btn {
          background-color: #fff;
          display: flex;
          padding: 0.4rem 1.5rem;
          margin: 0px 1rem;
          border-radius: 5rem;
          color: #000;
          text-decoration: none;
          display: none;
          border: none !important;
          @media screen and (max-width: 767px) {
            margin: 0.5rem 0rem;
            font-size: 0.8rem;
            padding: 0.2rem 1rem;
          }
        }
      }
    }
    // &.owner {
    //   .bid-histroy-card {
    //     &:hover,
    //     &:focus,
    //     &:active {
    //       background-color: #000;
    //       .first-half {
    //         .bid-owner {
    //           color: #fff;
    //         }
    //       }
    //       .second-half {
    //         .assign-btn {
    //           display: flex;
    //         }
    //         .bid-value {
    //           color: #fff;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  .bid-empty-content {
    background-color: #000;
    // min-height: 65vh;
    // max-height: 65vh;
    margin-top: -1px;
    padding: 1rem;
    position: relative;

    .empty-top-container {
      color: #fff;
      display: flex;
      // height: 50vh;

      .empty-top-content {
        flex: 1;
        align-self: center;
        text-align: center;

        svg {
          font-size: 3rem;
        }
        .empty-text {
          font-family: $neue-helvetica-medium;
          font-size: 1.7rem;
        }
      }
    }

    .empty-bottom-content {
      // position: sticky;
      // // top: 100vh;
      // display: flex;
      // background-color: #fff;
      // border-radius: 0.5rem;
      // padding: 1.5rem;
      // align-items: center;

      position: absolute;
      display: flex;
      top: auto;
      bottom: 2%;
      padding: 1.5rem;
      background-color: #fff;
      border-radius: 0.5rem;
      height: auto;
      width: 96%;
      left: 2%;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .publish-time {
        font-size: 1.2rem;
        font-family: $neue-helvetica-medium;
      }

      .nft-owner {
        font-size: 1.33rem;
        font-family: $neue-helvetica-bold;

        span {
          cursor: pointer;

          &:hover {
            color: #000 !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .bid-winner {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 3rem 3rem 2rem 3rem;
    min-height: calc(100vh - 16rem) !important;
    position: relative;
  }
}

@media only screen and (max-width: 767px) {
  .bid-owner {
    span {
      display: flex;
    }
  }
}
