@import "../../styles/common";

.sec-heading {
  padding: 1rem 0;
  border-bottom: 0.3rem solid #000;
  margin-bottom: 3rem;
  font-family: $neue-helvetica-bold;
  font-size: 2rem;
}

.explore-nft-section {
  padding: 0 0;
  background-color: #fff;

  .explorer-detail {
    background: transparent linear-gradient(73deg, #305d4b 0%, #305d4b 100%) 0%
      0% no-repeat padding-box;
    color: #fff;
    padding: 3rem 1.5rem;
  }
 

  .explorer-nft-list {
    background: transparent linear-gradient(180deg, #073824 0%, #24242e 100%) 0%
      0% no-repeat padding-box;
    color: #fff;

    .filter-drop-sort-btn,
    .filter-drop-btn {
      border: 1px solid #2c5154;
      font-style: italic;
    }
    .sec-heading {
      border-bottom: none !important;
      .sec-title {
        letter-spacing: 0.1rem;
        font-style: italic;
        display: flex;
        align-items: center;
      }
    }

    .explorer-nft-group {
      display: flex;
      width: 100%;
      justify-content: space-between;

      aside.filter-block {
        width: 22rem;
        margin-bottom: 2rem;
        
        border-radius: 0.5rem;
        @media screen and (max-width: 991px) {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: auto;
          z-index: 999;
          height: 100vh;
          transform: translate(-100%, 0);
          transition: 0.5s all ease;
          width: 100%;
          &.open-aside {
            transform: translate(0%, 0);
          }
        }

        .heading-box {
          padding: 1.5rem 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-size: 1.5rem;
            font-family: $neue-helvetica-extended-bold;
            letter-spacing: 0.08rem;
            text-transform: uppercase;
            margin-bottom: 0;
          }
          .clear-btn {
            background: transparent
              linear-gradient(88deg, #e8318d 0%, #18e0e0 41%, #e2ff00 100%) 0%
              0% no-repeat padding-box;
            display: flex;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            color: #000;
            border-radius: 50rem;
            font-family: $neue-helvetica-medium;
            cursor: pointer;
            &.disabled {
              opacity: 0.3;
              pointer-events: none;
            }
          }
        }
        .filter-list-items {
          margin: 1.5rem 1rem;
          border-bottom: 0.08rem solid #313131;

          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-bottom: 1.5rem;
          }

          /* MAIN STYLES */

          ul {
            list-style: none;
            margin-bottom: 1.5rem;
            padding: 0;
            li {
              margin-bottom: 0.5rem;
              .checkbox {
                display: flex;
                align-items: center;
                font-size: 2rem;
                cursor: pointer;
                width: 20rem;
              }
              .checkbox input {
                display: none;
              }
              .checkbox input ~ .checkbox__mark {
                position: relative;
                display: block;
                background: transparent
                  linear-gradient(45deg, #e8318d 0%, #18e0e0 41%, #e2ff00 100%)
                  0% 0% no-repeat padding-box;
                z-index: 0;
                &::before {
                  content: "";
                  position: absolute;
                  top: 0.1rem;
                  left: 0.1rem;
                  right: 0.1rem;
                  bottom: 0.1rem;
                  display: flex;
                  z-index: 0;
                  background: #000;
                }
              }
              .checkbox input:checked ~ .checkbox__mark {
                background: transparent
                  linear-gradient(45deg, #e8318d 0%, #18e0e0 41%, #e2ff00 100%)
                  0% 0% no-repeat padding-box;
                &::before {
                  content: "";
                  position: absolute;
                  top: 0.1rem;
                  left: 0.1rem;
                  right: 0.1rem;
                  bottom: 0.1rem;
                  display: flex;
                  z-index: 0;
                  background: transparent
                    linear-gradient(
                      45deg,
                      #e8318d 0%,
                      #18e0e0 41%,
                      #e2ff00 100%
                    )
                    0% 0% no-repeat padding-box;
                }
              }
              .checkbox input:checked ~ .checkbox__mark svg {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
              }

              .checkbox input:checked ~ .checkbox__info.text-checked {
                background: transparent
                  linear-gradient(88deg, #e8318d 0%, #18e0e0 10%, #e2ff00 20%)
                  0% 0% no-repeat padding-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .checkbox__mark {
                margin-right: 0.5rem;
                position: relative;
                width: 1.8rem;
                height: 1.8rem;
                border: 0.2rem solid #000;
              }
              .checkbox__mark svg {
                position: absolute;
                fill: #000;
                color: #000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.5);
                width: 100%;
                height: auto;
                transition: all ease 0.2s;
                opacity: 0;
              }
              .checkbox--disabled {
                color: grey;
                pointer-events: none;
              }
              .checkbox--disabled .checkbox__mark {
                border-color: grey;
              }
              .checkbox--disabled .checkbox__mark {
                border-color: grey;
              }

              .checkbox__info {
                width: calc(100% - 2.5rem);
                overflow: hidden;
                font-size: 1.1rem;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                letter-spacing: 0.08rem;
                font-family: $neue-helvetica-roman;
                user-select: none;
              }
            }
          }

        
        }
      }
      article.nft-list {
        width: calc(100% - 24rem);
        margin-bottom: 2rem;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
      }
    }
    .search-box-add {
      border-radius: 50rem;
      padding: 0.5rem 1rem;
      height: 2.1rem;
      border: 1px solid #2c5154;
      margin-left: 0;
      outline: none;
      width: 100%;
      padding-right: 2rem;
      background: transparent;
      color: #fff;
      font-style: italic;
      font-size: 1rem !important;
      background: #ffffff36;
    }

    .filter-open-btn,
    .filter-close-btn {
      display: none;
      @media screen and (max-width: 991px) {
        display: flex;
      }
    }
    .filter-open-btn {
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      font-family: $neue-helvetica-roman;
      border-radius: 50rem;
      margin-bottom: 0.2rem;
      cursor: pointer;
      white-space: nowrap;
      border: 1px solid #2c5154;
      font-style: italic;
      width: 7rem;
      text-align: center;
      font-size: 1rem;
      align-items: center;
      margin-left: 1rem;
      justify-content: center;
    }
    .filter-close-btn {
      padding: 0.5rem 1rem;
      position: sticky;
      top: 0;
      background: #000;
      z-index: 9;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
      svg {
        font-size: 2rem;
      }
    }
  }
}

button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #fff;
  border: 0.2rem solid #000;
  margin-left: 0;
  margin-top: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: $neue-helvetica-bold;
  width: auto;
  padding: 0.8rem 4rem;
  font-weight: normal;
  background: #000;
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #000;
    border: 0.2rem solid #000;
  }
}

.filter-blocks {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
    margin-top: -2.5rem !important;
  }
  @media screen and (max-width: 425px) {
    margin-top: 0.5rem !important;
  }
  .filter-box {
    @media screen and (max-width: 767px) {
      margin-top: 0.5rem;
      width: 100%;
      justify-content: space-between;
    }
    .dropdown {
      margin-right: 0.5rem;
      @media screen and (max-width: 767px) {
        width: 49%;
        margin-right: 0rem;
      }
      @media screen and (max-width: 425px) {
        width: 49%;
      }
    }
    .dropdown-menu {
      max-height: 320px;
      overflow-y: auto;
    }
  }
}
.filter-drop-btn {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-size: 1rem;
  font-family: $neue-helvetica-medium;
  border: 1px solid #000;
  border-radius: 50rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    padding: 0.2rem 0.3rem 0.2rem 1rem;
  }
}
.filter-drop-btn + .dropdown-menu .dropdown-item {
  display: flex;
  svg {
    height: 1.2rem;
    width: 1.2rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
  }
}

.filter-drop-sort-btn {
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  font-size: 1rem;
  font-family: $neue-helvetica-medium;
  border: 1px solid #000;
  border-radius: 50rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  white-space: nowrap;
}

.filter-pill-button {
  background-color: #020202;
  border: 1px solid #020202;
  padding: 0 0.5rem 0 1rem;
  border-radius: 50rem;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

  .first {
    font-family: $neue-helvetica-medium;
  }

  &:hover {
    background-color: #fff;
    border: 1px solid rgb(129, 129, 129);
    color: #000;
  }

  .last {
    &:hover {
      color: rgb(153, 26, 26);
    }
  }
}

.explore-heading {
  @media screen and (max-width: 991px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center !important;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
  }

}

.explore-title p {
  font-size: 1.2em;
  letter-spacing: 2px;
}
.explore-title h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: $neue-helvetica-extended-bold;
  margin-bottom: 1.5rem;
}

// .explore-heading {
//   @media screen and (max-width: 991px) {
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-start !important;
//   }
// }
.filt-flex-box {
  display: flex;
  @media screen and (max-width: 425px) {
    width: 100%;
    .dropdown {
      width: 100%;
      .filter-drop-sort-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
.sticky-sm-top {
  position: unset;
  @media screen and (max-width: 991px) {
    position: sticky;
    top: 5rem;
  z-index: 9;
  background: #0a3625;
  }
}
.filt-flex-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 0.5rem;
  width: 100%;
  max-width: 12rem;
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: unset;
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
.search {
  &-box-add {
    border-radius: 50rem;
    padding: 0.5rem;
    height: 2.1rem;
    border: 1px solid #000;
    margin-left: 0;
    outline: none;
    width: 100%;
    padding-right: 2rem;
    &::placeholder {
      color: #8f8f8f;
      font-size: 1rem;
    }
  }
  &-button {
    border-radius: 50rem;
    margin-left: 0.2rem;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

.more-card.jt-card {
  padding: 0.2rem;
  position: relative;
  border-radius: 0.3rem;
  background: transparent
    linear-gradient(180deg, #e2ff00 0%, #18e0e0 47%, #e8318d 100%) 0% 0%
    no-repeat padding-box;
  height: calc(100% - 2rem);
  &::before {
    content: "";
    position: absolute;
    background: #000;
    top: 0.2rem;
    bottom: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    z-index: 0;
    border-radius: 0.3rem;
  }
  .player_stats {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    border: none;
    border-radius: 50rem;
    box-shadow: inset 0px 0px 3rem 1.5rem #292929 !important;
    .player-type {
      padding: 0.6rem 0.4rem;
      border-bottom: 0.1rem solid #fff;
      img {
        display: flex;
        max-height: unset !important;
        object-fit: contain;
        object-position: center;
        padding: 0.1rem;
        min-width: 3.5rem;
        min-height: 3.5rem;
        background: #000;
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 50rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .player-range {
      padding: 0.6rem 0.4rem;
      // border-bottom: 0.1rem solid #fff;
      .band {
        font-size: 1rem;
        padding: 0.1rem 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $neue-helvetica-extended-bold;
        letter-spacing: 0.08rem;
        line-height: 1.3;
        border-radius: 15px;
        // background: #803cef;
      }
    }
    .player-level {
      padding: 0.6rem 0.4rem;
      img {
        display: flex;
        max-width: 3rem;
        max-height: unset !important;
        object-fit: contain;
        object-position: center;
        padding: 0.2rem;
        width: 100%;
        height: 3rem;
      }
      h6 {
        font-size: 1rem;
        font-family: $neue-helvetica-extended-bold;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        text-align: center;
        margin-bottom: 0;
        color: #fff;
      }
    }
  }
  img {
    position: relative;
    z-index: 1;
  }
  .top-content-title {
    position: relative;
    padding: 1rem;
    .more-nft-title {
      color: #fff;
      font-family: $neue-helvetica-extended-bold;
      letter-spacing: 0.08rem;
    }
    .more-nft-desc {
      color: #fff;
      font-family: $neue-helvetica-light;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .heart_box {
      position: absolute;
      z-index: 2;
      height: 3rem;
      width: 3rem;
      border-radius: 50rem;
      right: 1rem;
      top: -3rem;
      .svg_size {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: 0.1rem solid #fff;
        color: #fff !important;
        margin-bottom: 0.5rem;
        border-radius: 50rem;
        cursor: pointer;
        background-size: 1.4rem;
        background-position: center;
        background-repeat: no-repeat;

        &.heart_icon {
          border: 0.1rem solid #e8318d;
          box-shadow: inset 0px 0px 20px #e8318d !important;
          background-image: url("../../images/jump-trade/heart_ico.png");
        }
        &.filled_heart_icon {
          border: 0.1rem solid #e8318d;
          box-shadow: inset 0px 0px 20px #e8318d !important;
          background-image: url("../../images/jump-trade/heart-filled.png");
        }
      }
    }
  }

  .more-bid-details {
    margin-top: 1.5rem;
    .mb-title {
      color: #fff !important;
      font-family: $neue-helvetica-light;
      font-size: 0.9rem;
      letter-spacing: 0.08rem;
    }
    .mb-value {
      color: #fff;
      font-family: $neue-helvetica-extended-bold;
      font-size: 1rem;
    }
  }

  .nft-type-badge {
    position: absolute;
    top: 1rem;
    right: initial;
    left: 0.8rem;
    background: #e8318d;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    min-width: 7rem;
    padding: 0 1.5rem;
    font-family: $neue-helvetica-extended-bold;
    box-shadow: none;
    z-index: 2;
  }

  .time-counter-box {
    position: absolute;
    left: 1rem;
    right: initial;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    background: #000;
    border-radius: 50rem;
    color: #fff;
    top: -3rem;
    flex-direction: row;
    background: transparent linear-gradient(94deg, #e2ff00 26%, #08ff0b 100%) 0%
      0% no-repeat padding-box;
    .time-counter-card {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 1;
      color: #000;
      padding: 0.2rem 1rem 0.2rem 1rem;
      border-radius: 50rem;
      background: transparent linear-gradient(94deg, #e2ff00 26%, #08ff0b 100%)
        0% 0% no-repeat padding-box;

      span.time-title,
      .nft-counter {
        line-height: 1;
      }
    }
  }
}


.stick-top-custom{
  position: sticky;
  top: 7rem;
  padding-bottom: .5rem;

  :last-child{
    border-bottom: none !important;
  }
}