@import "../../styles/common";
.about-heading {
  border-bottom: 2px solid #181818;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h3.about-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  font-stretch: normal;
  line-height: 2.31;
  color: #181818;
}
.user-nav li .nav-link {
  color: #9c9c9b;
  padding: 1rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  font-family: $neue-helveticabold;
  font-size: 1.2rem;
}
.user-nav li .nav-link.active {
  color: #000;
}
.post-title {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  line-height: 1.2;
  overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.post-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0.75rem;
}
.post-sold-cost {
  color: #181818;
  font-weight: 700;
}
.post-cost .post-sold-text {
  font-weight: 500;
  font-size: 1.4em;
}
.post-sold-text {
  color: #757575;
}
.post-cost {
  .post-sold-cost {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $neue-helveticabold;
    .nft-counter {
      .counter-time,
      .counter-interval {
        font-size: 1.2rem;
      }
    }
  }
}
.pw_we {
  display: block;
  position: unset;
}
.rights-bid {
  text-align: right;
}
.right-bid {
  text-align: right;
}
.left_bid {
  color: red;
  font-weight: 600;
}
.explore-title p {
  font-size: 1.4em;
}
.explore-title h1 {
  font-size: 2.7em;
}
.desc-para {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4em;
}
.left-bid {
  width: 80%;
}
.left-bids {
  width: 50%;
}
.item-post {
  position: relative;
  .nft-type-badge {
    position: absolute;
    bottom: 2rem;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0;
    font-size: 1rem;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    min-width: 7rem;
    padding: 0 1.5rem;
    font-family: $neue-helveticabold;
    box-shadow: 1px 1px 0px 1px #ffff;
  }
  img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;

  }
}
.h_nft .item-post img {
  max-height: 40rem;
  min-height: 40rem;
}
.nft_cnt_top .post-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.nft_cnt_top .desc-para {
  font-size: 1.5rem;
}
.nft_bid_status,
.nft_right_bid {
  font-size: 2rem;
}
.h_nft {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.h_nft .col-xl-6.col-lg-6.col-sm-6 {
  background: #f5f5f5;
}

.nft_cnt_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.h_nft .item-post {
  position: relative;
}
.nft_details .post-sold-text {
  color: #000;
}
.nft_details .nft-counter .counter-time {
  font-size: 2rem;
  font-family: "neue_helveticaroman" !important;
  font-weight: normal !important;
}
.nft_details .nft-counter .counter-interval {
  margin-left: 0.2rem;
  font-size: 1.5rem;
  font-family: "neue_helveticaroman" !important;
  font-weight: normal !important;
}
.nft_cnt_bottom {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  padding-right: 8rem;
}
.h_nft .col-xl-6 {
  position: relative;
  background: #fff;
}
.h_nft p.left_bid {
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem;
  position: absolute;
  right: -3.5rem;
  bottom: 40%;
  border-radius: 50%;
  font-weight: normal;
  width: 7rem;
  height: 7rem;
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  z-index: 1;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h_nft:nth-child(even) .nft_img {
  left: 50%;
}
.h_nft_cnt {
  padding: 4rem;
}
.h_nft:nth-child(even) .nft_details {
  left: -50%;
}
.h_nft:nth-child(even) .nft_img p.left_bid {
  right: auto;
  left: -3.5rem;
}
button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #000;
  border: 1px solid #000;
  margin-left: 0;
  margin-top: 5%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: $neue-helveticabold;
  width: auto;
  padding: 1rem 4rem;
  font-weight: normal;
}
@media (max-width: 992px) {
  .h_nft .item-post img {
    max-height: 20rem;
    min-height: 28rem;
  }
  .h_nft_cnt {
    padding: 2rem 2rem;
  }
  .nft_cnt_bottom {
    padding-right: 4rem;
  }
}

@media (max-width: 767px) {
  .h_nft:nth-child(even) .nft_img {
    left: 0;
  }
  .h_nft:nth-child(even) .nft_details {
    left: 0;
  }
  .nft_cnt_bottom {
    position: relative;
    bottom: 0;
    padding-right: 0;
  }
  .h_nft_cnt {
    padding: 1rem 1rem 2rem;
  }
  .nft_cnt_top .post-title {
    font-size: 1.8rem;
  }
  .nft_cnt_top .desc-para,
  .nft_bid_status,
  .nft_right_bid,
  .nft_details .nft-counter .counter-time {
    font-size: 1.1rem;
  }
  .nft_details .nft-counter .counter-interval {
    font-size: 0.8rem;
  }
  .h_nft {
    margin-bottom: 2rem;
  }
  .h_nft p.left_bid {
    display: flex;
    right: 0 !important;
    bottom: -10%;
    width: 6rem;
    height: 6rem;
    font-size: 0.8rem;
    left: 0 !important;
    margin: 0 auto;
  }
  .h_nft .item-post img {
    max-height: initial;
    min-height: auto;
    margin-top: 0.7rem;
  }
  .h_nft,
  .h_nft .col-xl-6 {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
}
