.about-heading {
  border-bottom: 2px solid #181818;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
h3.about-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  font-stretch: normal;
  line-height: 2.31;
  color: #181818;
}
.user-nav li .nav-link {
  color: #9c9c9b;
  padding: 1rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  font-family: "neue_helveticabold";
  font-size: 1.2rem;
}
.user-nav li .nav-link.active {
  color: #000;
}
.post-title {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 1.2;
}
.post-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0.75rem;
}
.post-sold-cost {
  color: #181818;
  font-weight: 700;
}
.post-cost .post-sold-text {
  font-weight: 500;
}
.post-sold-text {
  color: #757575;
}
.post-cost .post-sold-cost {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "neue_helveticabold";
}
.pw_we {
  display: block;
  position: unset;
}
.rights-bid {
  text-align: right;
}
.right-bid {
  text-align: right;
}
.left_bid {
  color: red;
  font-weight: 600;
}
.explore-title p {
  font-size: 1.4em;
}
.explore-title h1 {
  font-size: 2.7em;
}
.desc-para {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.left-bid {
  width: 80%;
}
.left-bids {
  width: 50%;
}
.item-post img {
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
}
button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #000;
  border: 1px solid #000;
  margin-left: 0;
  margin-top: 5%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: "neue_helveticabold";
  width: auto;
  padding: 1rem 4rem;
  font-weight: normal;
}
