@import "../../../styles/common";
section.client-category {
  padding: 2rem 0;
  background-color: #cf4943;
  color: #fff;
}
.explore-title h1 {
  font-size: 2.7em;
}
.explore-title p {
  font-size: 1.4em;
}
.ft-logo img {
  width: 150px;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.countdown-wrapper {
  display: block;
  text-align: center;
}
#countdown {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  max-width: 30rem;
}
#countdown li {
  width: 23%;
  padding: 0.5rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#countdown li {
  display: inline-block;
  background: #681740;
  width: 7em;
  text-align: center;
  border-radius: 4px;
}
#countdown li span {
  font-size: 2.5em;
  font-weight: 900;
  color: #fff;
}
#countdown li p {
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  line-height: 30px;
  margin: 0;
}

.sec-heading {
  padding: 1rem 0;
  border-bottom: 0.3rem solid #fff;
  margin-bottom: 3rem;
  font-family: "neue_helveticabold" !important;
  font-size: 2rem;
}
section.category_list {
  background: #681740;
  color: #fff;
  padding: 5em 0;
}
.category_card h1 {
  font-size: 1rem;
  margin: 0em auto 0;
  text-align: center;
  font-family: $neue-helvetica-medium;
  max-width: 6.5rem;
}
.category_list a {
  text-decoration: none;
}
.category_card img {
  width: 100%;
  border-radius: 8px;
}
.category_card img,
.category_card video {
  margin-bottom: 0.8em;
}
section.category_list .card_title {
  margin-left: 0;
  text-align: left;
  padding: 0px;
  margin: auto;
  text-align: center;
}
.category_card {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  color: #000;
  transition: 0.5s;
}
.category_card.active {
  background: #50db29;
  color: #fff;
}
.category_card:hover {
  background: #50db29;
  color: #fff;
  transition: 0.5s;
}

.more-card {
  margin-right: 1rem;
  margin-bottom: 2rem;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #fff;
  }

  .nft-like-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.719);
    }
  }

  .nft-type-badge {
    position: absolute;
    top: 0.2rem;
    right: 0;
    background: #000;
    color: #fff;
    padding: 0;
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    min-width: 7rem;
    padding: 0 1.5rem;
    font-family: $neue-helvetica-bold;
    box-shadow: 1px 1px 0px 1px #ffff;
  }

  &:last-child {
    margin-right: 0;
  }

  overflow: hidden;

  img {
    min-width: 100%;
    height: 26rem;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .top-content-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .more-nft-title {
      font-size: 1.3rem;
      font-family: $neue-helvetica-bold;
      position: relative;
      display: block;
      @include text-ellipsis;

      .right-content {
        width: calc(100% - 8rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .left-count {
        // position: absolute;
        color: #f21e00;
        right: 0;
        font-family: $neue-helvetica-bold;
        font-size: 1rem;
        top: 0.5em;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .more-nft-desc {
      font-size: 1rem;
      font-family: $neue-helvetica-medium;
      margin-bottom: 0rem;
    }
    .nft-signature {
      background: transparent
        linear-gradient(
          180deg,
          #e2ff00 10%,
          #08ff0b 60%,
          #18e0e0 47%,
          #e8318d 100%
        )
        0% 0% no-repeat padding-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $neue-helvetica-medium;
      span {
        font-family: $neue-helvetica-roman;
      }
    }
  }

  .more-bid-details {
    display: flex;
    justify-content: space-between;

    .mb-title {
      font-size: 1rem;
      font-family: $neue-helvetica-medium;
      white-space: nowrap;
    }

    .mb-value {
      font-size: 1.2rem;
      font-family: $neue-helvetica-bold;
    }
  }

  // &:hover {
  //   opacity: 0.85;
  // }
}

.font-onerem {
  font-size: 1.3rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 567px) {
  .category_card {
    padding: 0;
    border-radius: 4px;
  }
  .category_card h1 {
    font-size: 1em;
    padding: 0em 0 0.5em;
  }
  .category_card img {
    width: 100%;
    border-radius: 0;
  }
  .sec-heading {
    margin-bottom: 1em !important;
  }
  #countdown li:not(:last-child) {
    margin-right: 0.5em;
  }
  #countdown li {
    width: 6em;
  }
}

button.load_more {
  text-decoration: none;
  border-radius: 2em;
  color: #fff;
  border: 0.2rem solid #000;
  margin-left: 0;
  margin-top: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: $neue-helvetica-bold;
  width: auto;
  padding: 0.8rem 4rem;
  font-weight: normal;
  background: #000;
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #000;
    border: 0.2rem solid #000;
  }
}

.mtm-6 {
  margin-top: -6px !important;
}

.filter-pill-button {
  // background-color: rgb(231, 231, 231);
  // border: 1px solid #ccc;
  // padding: 0.2rem 0.2rem 0.2rem 0.8rem;
  // border-radius: 50rem;
  // display: flex;
  // margin-right: 0.5rem;
  // margin-bottom: 0.5rem;
  background-color: #020202;
  border: 1px solid #020202;
  padding: 0 0.5rem 0 1rem;
  border-radius: 50rem;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

  .first {
    font-family: $neue-helvetica-medium;
  }

  &:hover {
    background-color: #fff;
    border: 1px solid rgb(129, 129, 129);
    color: #000;
  }

  .last {
    &:hover {
      color: rgb(153, 26, 26);
    }
  }
}

.time-counter-box {
  position: absolute;
  left: 0rem;
  right: initial;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 0px 1px #ffff;
  background: #000;
  border-radius: 0 50rem 50rem 0;
  color: #fff;
  top: 24rem;
  flex-direction: row;
  .time-counter-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
    background: #000000;
    color: #fff;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    border-radius: 0 50rem 50rem 0;
    span.fire-icon {
      color: #ff7600;
      font-size: 1.2rem;
      animation: blinker 1s linear infinite;
    }
  }
  img {
    height: 2rem;
    margin: 0;
    width: auto !important;
    min-width: unset !important;
    margin-right: 0.5rem;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.filter-drop-btn {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-size: 1rem;
  font-family: $neue-helvetica-medium;
  border: 1px solid #ffffff;
  border-radius: 50rem;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    padding: 0.2rem 0.3rem 0.2rem 1rem;
  }
}
.filter-drop-btn + .dropdown-menu .dropdown-item {
  display: flex;
  svg {
    height: 1.2rem;
    width: 1.2rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
  }
}

.filter-drop-sort-btn {
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  font-size: 1rem;
  font-family: $neue-helvetica-medium;
  border: 1px solid #ffffff;
  border-radius: 50rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  white-space: nowrap;
}
