@import "../../styles/common";

.releasenotes-wrapper {
  font-family: $neue-helvetica-extended;

  background: var(--theme-dark-green);
  padding: 7rem 5rem;
  color: #fff !important;
  @media screen and (max-width: 767px) {
    padding: 5rem 3rem;
  }
  @media screen and (max-width: 520px) {
    padding: 3rem 1.5rem;
  }

  .heading-h3 {
    color: #fff;
    font-size: 2rem;
    font-family: $Impact;
  }

  .c-tabs {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-bottom: 0.2rem solid #214334;
    margin: 2rem 0;

    .nav-tab {
      margin: 0 0.5rem;
      padding: 1.2rem 1.5rem;
      border-radius: 0.2rem 0.2rem 0 0;
      transition: 0.5s;
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #718c7f;
      color: #4b6659;
      background-color: #193629;
      background-color: #1936298a;
      border-top: 0.2rem solid #214334;
      user-select: none;
      @media screen and (max-width: 520px) {
        padding: 1rem 0.8rem;
        font-size: 1rem;
      }

      &.active {
        // background-color: var(--ck-theme);
        background-color: #1936298a;
        color: var(--ck-theme);
        // border-top: 0.2rem solid var(--ck-theme);
        border-top: 0.2rem solid #f5ff006e;
      }
    }
  }
  .release-notes-card-box {
    background-color: #00190a;
    padding: 3rem;
    border-radius: 0.2rem;
    border-left: 0.3rem solid #748826;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 520px) {
      padding: 3rem 1.5rem;
    }
    .created-info {
      font-size: 1rem;
      text-transform: uppercase;
      color: #ffffffb3;
      color: #718c7f;
      font-family: $neue-helvetica-roman;
    }
    .card-name {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      font-family: $Impact;
      @media screen and (max-width: 520px) {
        font-size: 2rem;
      }
    }
    .card-key-points {
      li {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        color: #718c7f;
        font-family: $neue-helvetica-roman;
      }
    }
  }
}
