.product-details .product-name 
{
    text-align: center;
}
.category-section .owl-carousel .owl-item img 
{
    min-height: 315px;
    height: 315px;
    /* object-fit: contain; */
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.nav-link{
    cursor: pointer;
   .img-cat-title{
    color: white;
   }
} 