.product-details .product-name 
{
    text-align: center;
}
.category-section .owl-carousel .owl-item img 
{
    min-height: 315px;
    height: 315px;
    object-fit: contain;
}
.nav-link{
    cursor: pointer;
   .img-cat-title{
    color: white;
   }
} 