.product-details .product-name {
    text-align: center;
}

.category-section .owl-carousel .owl-item img {
    min-height: 315px;
    height: 315px;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.nav-link {
    cursor: pointer;

    .img-cat-title {
        color: white;
    }
}

.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    //width: 2460px !important;
    width: max-content !important;
}

#feature-product {
  .arrivals-section{
    .container{
      .tab-nav-center {
        .tab-content{
          #fruits{
            .owl-carousel{
                .owl-nav.disabled button.owl-prev {
                  width: 40px;
                  height: 40px;
                  margin: 0;
                  color: #2b579a;
                  font-size: 16px;
                  line-height: 1;
                  padding: 0;
                  border: 0.1rem solid #ebebeb;
                  cursor: pointer;
                  border-radius: 50px;
                  background: var(--base-color);
                }
              
                .owl-nav.disabled button.owl-next {
                  width: 40px;
                  height: 40px;
                  margin: 0;
                  color: #2b579a;
                  font-size: 16px;
                  line-height: 1;
                  padding: 0;
                  border: 0.1rem solid #ebebeb;
                  cursor: pointer;
                  border-radius: 50px;
                  background: var(--base-color);
                }
              
                button.owl-prev {
                  left: -60px;
                  top: 100px;
                  position: absolute;
                }
              
                button.owl-next {
                  right: -60px;
                  top: 100px;
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }

}

