@import "../../styles/common";

.nft-counter {
  .counter-time {
    font-size: 2.3rem;
    font-family: $neue-helveticabold;
  }
  .counter-interval {
    margin-left: 0.2rem;
    font-size: 1.5rem;
    font-family: $neue-helveticabold;
  }
  .interval-gap {
    margin-right: 0.6rem;
  }
}
