
.single-product{
    .page-content{
        .container-fluid{
            .page-content {
                .need_sec{
                    .container{
                        .owl-carousel {
                            button.owl-prev {
                                position: absolute;
                                top: 50%;
                                left: -5%;
                                z-index: 99;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                margin: 0;
                                margin-top: -15px;
                                color: #2b579a;
                                font-size: 16px;
                                line-height: 1;
                                padding: 0;
                                border: 0.1rem solid #ebebeb;
                                background: var(--base-color) !important;
                                cursor: pointer;
                                border-radius: 50px;
                                transition: all .3s ease;
                            }
                            width: 100%;
                            -webkit-tap-highlight-color: transparent;
                            position: relative;
                            z-index: 1;
                            display: block; 
                            .owl-item {
                                position: relative;
                                min-height: 1px;
                                // float: left;
                                -webkit-tap-highlight-color: transparent;
                            }
                            .owl-stage-outer{
                                .owl-stage{
                                transform:translate3d(-600px, 0px, 0px) !important;
                                transition: all 0s ease 0s;
                                width: 1800px !important;
                             ///width: auto !important;
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
}

.owl-carousel .owl-stage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .owl-carousel .owl-item .item{
    width: 120px;
    min-height: 120px;
    background-color: lightblue;
  }
.product_category_page_section{
  .no-product{
    display: flex;
    justify-content: center;
    margin: 10rem;
  }
}

.cat_new_carosal button.owl-prev {
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-top: -15px;
    color: #2b579a;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    border: 0.1rem solid #ebebeb;
    background: var(--base-color) !important;
    cursor: pointer;
    border-radius: 50px;
    transition: all .3s ease;
}
  