.container {
    max-width: 1220px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}


.need_sec {

    .container {
        .tab {
            ul {
                .nav {
                    .nav-tabs {
                        padding: 25px 0px;
                        flex-wrap: initial;

                    }
                }
            }
        }
    }
}

.tab-nav-center {

    .nav {
        justify-content: center;
    }
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
}

.nav-link-with-img {
    position: relative;
    margin-bottom: 0px !important;
    height: 100%;
    padding: 10px;
    border: 1px solid #22222236;
    border-radius: 100px !important;
    background: #e1e1e1;
    margin-right: 10px;
}

.nav-link {
    display: block;
    margin-bottom: -0.1rem;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    border-radius: 0;
    border: 0;
    transition: border 0.35s, color 0.35s, background-color 0.35s;
}

.nav-link-with-img .img-cat-title {
    /* position: absolute; */
    bottom: 1.5rem;
    font-size: 16px;
    font-weight: 400;
    min-width: 12.1rem;
    font-family: var(--font-family-poppins);
    color: #000;
}


.arrivals-section {
    li.nav-item {
        h3
        {
            color: #000; padding-left: 5px; display: flex; justify-content: center;
        }

        svg {
            margin-right: 5px;
        }
    }
}


    .arrivals-section{
      .container{
        .tab-nav-center {
          .tab-content{
                #fruits{
                 .owl-carousel{
                    .owl-nav{
                        img {
                            min-height: unset;
                            height: auto;
                            width: 90%;
                            max-width: unset;
                            border-radius: unset;
                            object-fit: unset;
                        }
                      }
                  .owl-nav.disabled button.owl-prev {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    color: #2b579a;
                    font-size: 16px;
                    line-height: 1;
                    padding: 0;
                    border: 0.1rem solid #ebebeb;
                    cursor: pointer;
                    border-radius: 50px;
                    // background: var(--base-color);
                  }
                
                  .owl-nav.disabled button.owl-next {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    color: #2b579a;
                    font-size: 16px;
                    line-height: 1;
                    padding: 0;
                    border: 0.1rem solid #ebebeb;
                    cursor: pointer;
                    border-radius: 50px;
                    // background: var(--base-color);
                  }
                 
                
                  button.owl-prev {
                    left: -60px;
                    top: 100px;
                    position: absolute;
                  }
                
                  button.owl-next {
                    right: -60px;
                    top: 100px;
                    position: absolute;
                  }
                }
            }
            .swiper-container
    {
        .swiper-wrapper
        {
            .product.text-center.product-with-qty
            {
                .product-media
                {
                    img
                    {
                        min-height: 350px;
                        height: 350px;
                        width: 100%;
                        max-width: 100%;
                        border-radius: 5px;
                        object-fit: fill !important;
                    }
                }
            }
            .swiper-slide
            {
                background: transparent;
                margin-right: 0px !important;
            }
        }
    }
            button
            {
                background: var(--base-color);
            }
            .swipper_back_arrow:disabled
            {
                background: grey;
                opacity: 0.5;
            }
            .swipper_front_arrow:disabled
            {
                background: grey;
                opacity: 0.5;
            }
            .swipper_back_arrow
            {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                border: none;
                position: absolute;
                left: -6% !important;
                bottom: 50% !important;
            }
            .swipper_front_arrow
            {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                border: none;
                position: absolute;
                right: -6% !important;
                bottom: 50% !important;
            }

              }
            
          }
        }
      }
  

      .category-section
{
   
}