@import "../../styles/common";

.sec-heading {
  padding: 1rem 0;
  border-bottom: 0.3rem solid #000;
  margin-bottom: 3rem;
  font-family: $neue-helveticamedium;
}

.hot-collection-section {
  padding: 2rem 0;
  background-color: #fff;
}

.carousel {
  &-btn {
    &-box {
      float: right;
      width: 7rem;
      display: flex;
      justify-content: space-around;
    }
    padding: 0;
    background: #fff;
    border: 1px solid #050505;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #050505;
    font-size: 1.8rem;
    opacity: 0.6;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      color: #050505;
    }
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
