.nft-artist {
  .title {
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 2px solid #222;
  }
  .artist-content {
    .artist-img {
      width: 100%;
      max-height: 50vh;
      object-fit: scale-down;
    }
    .artist-name {
      font-size: 2rem;
      font-weight: bolder;
    }
    .at-name {
      font-size: 1.2rem;
      font-weight: bolder;
    }
    .artist-desc {
      font-size: 1rem;
      font-weight: bolder;
    }

    .artist-pill-container {
      display: flex;
      flex-wrap: wrap;

      .artist-pill {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: scale-down;
          margin-right: 1rem;
        }

        .pill-title {
          font-size: 0.7rem;
        }
        .pill-value {
          font-size: 0.85rem;
          font-weight: bolder;
        }
      }
    }
  }
}
