@import "../../styles/common";

.nft-artist {
  .artist-content {
    .artist-img {
      width: 85% !important;
max-height: 100%;
object-fit: cover;
    }

    .artist-details-content {
      min-height: 45vh;

      .artist-name {
        font-size: 2.9rem;
        font-family: $neue-helveticabold;
      }
      .at-name {
        font-size: 1.5rem;
        font-family: $neue-helveticabold;
      }
      .artist-desc {
        font-size: 1.3rem;
        font-family: $neue-helveticamedium;
        line-height: 1.4;
      }

      .artist-pill-container {
        display: flex;
        flex-wrap: wrap;

        .artist-pill {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          margin-right: 1rem;

          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 0.7rem;
            object-fit: contain;
          }

          .pill-title {
            font-size: .9rem;
            font-family: $neue-helveticamedium;
          }
          .pill-value {
            font-size: 1.1rem;
            font-family: $neue-helveticabold;
          }
        }
      }

      .bottom-owner-contact-links {
        position: sticky;
        top: 100vh;
        display: flex;
        align-items: center;

        .share-link-owner {
          background-color: black;
          color: white;
          border-radius: 50%;
          height: 2.5rem;
          width: 2.5rem;
          text-align: center;
          margin-right: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
        }
      }
    }
  }
}
