@import "../../styles/common";

.nft-summary {
  border-radius: 1rem;
  border: 2px solid #000000;

  .title {
    font-size: 1.2rem;
    font-family: $neue-helveticamedium;

    svg {
      vertical-align: unset;
    }
  }
  .value {
    font-size: 3rem;
    font-family: $neue-helveticamedium;
    position: relative;

    svg {
      font-size: 1.5rem;
      margin-top: -3px;
      margin-right: -2px;
    }

    .value-diff-range {
      position: absolute;
      font-family: $neue-helveticamedium;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      display: inline-flex;

      &.green {
        color: #00a954;
      }

      &.red {
        color: #f21e00;
      }
    }
  }
}
