@import "../../styles/common";

.nft-more {
  position: relative;

  .title {
    font-size: 1.5rem;
    font-family: $neue-helveticamedium;
    margin-bottom: 1rem;
    position: relative;

    .title-count {
      font-size: 1rem;
      font-family: $neue-helveticabold;
      top: 0;
      width: 0;
      position: absolute;
      margin-left: 0.2rem;
    }
  }
  .nft-more-content {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: $neue-helveticamedium;
    min-width: 100%;

    .more-card {
      margin-right: 1rem;
      margin-bottom: 2rem;
      min-width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 559px) {
        min-width: 100%;
        max-width: 100%;
      }
      @media screen and (min-width: 560px) {
        min-width: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
      }
      @media screen and (min-width: 992px) {
        min-width: calc(33.3333% - 1rem);
        max-width: calc(33.3333% - 1rem);
      }
      @media screen and (min-width: 1024px) {
        min-width: calc(25% - 1rem);
        max-width: calc(25% - 1rem);
      }

      &:last-child {
        margin-right: 0;
      }
      img {
        min-width: 100%;
        height: 28rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      .more-nft-title {
        font-size: 1.8rem;
        font-family: $neue-helveticabold;
        position: relative;
        display: flex;
        align-items: center;
        .right-content {
          width: calc(100% - 8rem);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .left-count {
          // position: absolute;
          color: #f21e00;
          right: 0;
          font-family: $neue-helveticabold;
          font-size: 1rem;
          top: 0.5em;
          width: 8rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      .more-nft-desc {
        font-size: 1rem;
        font-family: $neue-helveticamedium;
        margin-bottom: 1rem;
      }
      .more-bid-details {
        display: flex;
        justify-content: space-between;

        .mb-title {
          font-size: 1.2rem;
          font-family: $neue-helveticabold;
        }

        .mb-value {
          font-size: 1.3rem;
          font-family: $neue-helveticabold;
        }
      }
    }
  }

  .chevron-left-nav {
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 50%;
    left: 0;

    svg {
      height: 30px;
      width: 33px;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0 0 6px 0px #dadada;
    }
  }

  .chevron-right-nav {
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 50%;
    right: 0;

    svg {
      height: 30px;
      width: 33px;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0 0 6px 0px #dadada;
    }
  }
}
.font-onerem {
  font-size: 1.3rem !important;
}
.nft-more .nft-more-content .more-card .more-bid-details .mb-title {
  font-family: "neue_helveticaroman" !important;
}
