@import "../../styles/common";

.nft-more {
  position: relative;

  .title {
    font-size: 1.5rem;
    font-family: $neue-helveticamedium;
    margin-bottom: 1rem;
    position: relative;

    .title-count {
      font-size: 1rem;
      font-family: $neue-helveticabold;
      top: 0;
      width: 0;
      position: absolute;
      margin-left: 0.2rem;
    }
  }
  .nft-more-content {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: $neue-helveticamedium;

    .more-card {
      margin-right: 1rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-right: 0;
      }
      img {
        // width: 27.3rem;
        // width: 100%;
        // max-height: 50vh;
        // object-fit: scale-down;
        // margin-bottom: 1rem;
        width: 100%;
        min-height: 25em;
        max-height: 50vh;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      .more-nft-title {
        font-size: 1.8rem;
        font-family: $neue-helveticabold;
        position: relative;

        .left-count {
          position: absolute;
          color: #f21e00;
          right: 0;
          font-family: $neue-helveticabold;
          font-size: 1rem;
          top: 0.5em;
        }
      }
      .more-nft-desc {
        font-size: 1rem;
        font-family: $neue-helveticamedium;
        margin-bottom: 1rem;
      }
      .more-bid-details {
        display: flex;
        justify-content: space-between;

        .mb-title {
          font-size: 1.2rem;
          font-family: $neue-helveticabold;
        }

        .mb-value {
          font-size: 1.3rem;
          font-family: $neue-helveticabold;
        }
      }
    }
  }

  .chevron-left-nav {
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 50%;
    right: 0;

    svg {
      height: 30px;
      width: 33px;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0 0 6px 0px #dadada;
    }
  }

  .chevron-right-nav {
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 50%;
    right: 0;

    svg {
      height: 30px;
      width: 33px;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0 0 6px 0px #dadada;
    }
  }
}
.font-onerem {
  font-size: 1.3rem !important;
}
.nft-more .nft-more-content .more-card .more-bid-details .mb-title {
  font-family: 'neue_helveticaroman' !important;
}
