@import "../../styles/common";

.hero-section {
  min-height: 85vh;
  // background-color: #101010;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  .hero-content {
    max-width: 41rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    h1 {
      text-align: left;
      letter-spacing: 12px;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1;
      font-family: $neue-helveticalight;
      margin-bottom: 2rem;
      font-size: 2.9rem;
      line-height: 1.3;
    }
    h6 {
      text-align: left;
      letter-spacing: 6px;
      color: #ffffff;
      opacity: 1;
      font-family: $neue-helveticalight;
      line-height: 1.4;
      font-size: 1.2rem;
    }
  }
}

.first-image {
  width: 100%;
  // margin-bottom: 1.4rem;
  object-fit: cover;
  object-position: top;
  border-radius: 0.8rem;
}
.cat-block {
  position: relative;
  .cat-title {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 1rem 1.2rem;
    text-shadow: 3px 3px 2px #000000a3;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    text-align: left;

    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 991px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  .big-box {
    font-size: 3rem;
    top: 2rem;
    left: 2rem;

    @media screen and (max-width: 1024px) {
      font-size: 2rem;
      top: 1rem;
      left: 1rem;
    }
    @media screen and (max-width: 992px) {
      font-size: 1.7rem;
      top: 0.5rem;
      left: 0.5rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  .medium-box {
    font-size: 2rem;
    top: 1rem;
    left: 1rem;

    @media screen and (max-width: 1024px) {
      font-size: 1.4rem;
      top: 1rem;
      left: 1rem;
    }
    @media screen and (max-width: 992px) {
      font-size: 1rem;
      top: 0.5rem;
      left: 0.5rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
}

.hero-carousel {
  &-desktop {
    display: block;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &-mobile {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

.carousel .slide:before,
.cat-block:before {
  content: "";
  background: linear-gradient(#000000f5, rgba(255, 255, 255, 0));
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 12em;
  left: 0;
  border-radius: 0.8rem;
}
.carousel .slide:before,
.cat-block:before {
  height: 5em;
}
.cat-block .big-box {
  font-size: 2.5rem;
  top: 1rem;
  left: 0;
}
.cat-block .cat-title {
  text-shadow: none;
}
.carousel .control-dots .dot {
  width: 2em;
  border-radius: 6px;
  height: 0.5em;
  @media screen and (max-width: 767px) {
    height: 0.5rem;
    width: 1.3em;
    margin: 0 3px;
  }
}
