@import "../../styles/common";

.sec-heading {
  padding: 1rem 0;
  border-bottom: none;
  margin-bottom: 3rem;
  font-family: $neue-helvetica-medium;
  &.trending-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: none;
    border-bottom: none !important;
    font-family: $neue-helvetica-extended-bold;

    span.title {
      letter-spacing: 0.1rem;
      color: #ffffff1a;
      font-size: 8rem;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #c7c7c7;
      @media screen and (max-width: 991px) {
        font-size: 4.5rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 560px) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: 475px) {
        font-size: 1.5rem;
      }
    }
  }
}
.hover-anim .owl-stage-outer {
  padding: 2rem 0;
}

.trending-section {
  padding: 2rem 0;
  background-color: #000000;
  // background: transparent linear-gradient(180deg, #073824 0%, #24242e 100%) 0%
  //   0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #fff;
  position: relative;

  .carousel-btn-block {
    display: table;
    border: 0.1rem solid #fff;
    margin-left: auto;
    box-shadow: 0px 0px 1rem #fff;
    background: #000;
    button {
      background: transparent;
      padding: 0.8rem 0.8rem;
      border: none;
      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
      img {
        height: 1.5rem;
      }
    }
  }
}

.carousel {
  &-btn {
    &-box {
      float: right;
      width: 7rem;
      display: flex;
      justify-content: space-around;
    }
    padding: 0;
    background: #fff;
    border: 1px solid #050505;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #050505;
    font-size: 1.8rem;
    opacity: 0.6;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      color: #050505;
    }
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.viewallBtnliveaction.trend-btn {
  font-size: 1.2rem;
  background: transparent;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  outline: 0;
  border: 0.2rem solid transparent;
  display: table;
  border: 0.1rem solid #fff;
  margin-left: auto;
  box-shadow: 0px 0px 1rem #fff;
  background: #000;

  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  z-index: 1;
  right: 12rem;
  width: 10rem;
  text-align: center;

  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: #000;
    background-color: #fff;
  }

  // @media screen and (max-width: 767px) {
  //   padding: 0.1rem 1.5rem;
  //   width: 10rem;
  //   font-size: 1rem;
  //   margin-left: 2rem;
  //   text-align: center;
  // }
}
