@import "../../styles/common";

.more-card {
  margin-right: 1rem;
  margin-bottom: 2rem;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #000;

  &:hover {
    color: #000;
  }

  .nft-like-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.719);
    }
  }

  .nft-type-badge {
    position: absolute;
    top: 0.2rem;
    right: 0;
    background: #000;
    color: #fff;
    padding: 0;
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    min-width: 7rem;
    padding: 0 1.5rem;
    font-family: $neue-helvetica-bold;
    box-shadow: 1px 1px 0px 1px #ffff;
  }

  &:last-child {
    margin-right: 0;
  }

  overflow: hidden;

  img {
    min-width: 100%;
    height: 26rem;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .top-content-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .more-nft-title {
      font-size: 1.3rem;
      font-family: $neue-helvetica-bold;
      position: relative;
      display: block;
      @include text-ellipsis;

      .right-content {
        width: calc(100% - 8rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .left-count {
        // position: absolute;
        color: #f21e00;
        right: 0;
        font-family: $neue-helvetica-bold;
        font-size: 1rem;
        top: 0.5em;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .more-nft-desc {
      font-size: 1rem;
      font-family: $neue-helvetica-medium;
      margin-bottom: 0rem;
      font-size: 0.8rem;
    }
    .nft-signature {
      // background: transparent
      //   linear-gradient(
      //     180deg,
      //     #e2ff00 10%,
      //     #08ff0b 60%,
      //     #18e0e0 47%,
      //     #e8318d 100%
      //   )
      //   0% 0% no-repeat padding-box;
      background: linear-gradient(
          180deg,
          #e2ff00 0%,
          #18e0e0 52.6%,
          #e8318d 100%
        )
        0% 0% no-repeat padding-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $neue-helvetica-medium;
      span {
        font-family: $neue-helvetica-roman;
        font-size: 0.9rem;
      }
    }
  }

  .more-bid-details {
    display: flex;
    justify-content: space-between;

    .mb-title {
      font-size: 1rem;
      font-family: $neue-helvetica-medium;
      white-space: nowrap;
    }

    .mb-value {
      font-size: 1.2rem;
      font-family: $neue-helvetica-bold;
    }
  }

  // &:hover {
  //   opacity: 0.85;
  // }
}

.font-onerem {
  font-size: 1.3rem !important;
}
